[2017-04-27 03:31] alfongj opened #1 "Add voice activation via hotword"
Problem:
I want to be able to activate the Assistant via voice, so I don't need to press a button (or spacebar) each time I want to talk to it.

[2017-04-27 03:56] alfongj opened #2 "Error when trying to send a new request after several minutes of inactivity"
**Issue**: client throws an error after pressing enter after several minutes of inactivity

**Steps to reproduce**:
1. Run the client
2. Press enter, say something, hear response
3. Wait 5-10 minutes
4. Press enter again. Fails

**Error trace**:
[code]

[2017-04-27 21:20] elblogbruno commented on #1
Yeah me too,Have you achieved this?

[2017-04-27 22:16] alfongj commented on #1
Hi @elblogbruno . I am from the Assistant SDK team, and filed this issue to allow you guys to keep track of it.

This feature is under development now, and we will be opening a private beta for it soon. If you are interested, please sign up [here](https://groups.google.com/forum/#!forum/google-assistant-sdk-updates) (and turn on email updates)

Thanks for the interest!

[2017-04-27 22:22] mortenmoulder opened #3 "Failed parsing HTTP/2 and Endpoint read failed"
I'm getting two errors after a while.

- Freshly installed Raspberry Pi 2 Model B
- Running Python 3
- Hooked up with Ethernet
- Using USB headset

**Endpoint read failed**
[code]

**Failed parsing HTTP/2**
[code]

[2017-04-27 23:24] proppy commented on #3
Yep, I believe this is related to #2

[2017-04-28 20:45] stursby opened #4 "Can’t get past the 'Verify audio setup' step"
I'm trying to get this demo working, but getting stuck at the 'Verify audio setup' step.

I'm running this command --> `python -m googlesamples.assistant.audio_helpers`

And get the following output:

[code]

Setup:
- Raspberry Pi 3 (Model B)
- Raspbian Jessie Lite (4.4)
- Adafruit Mini USB Microphone ([link](https://www.adafruit.com/product/3367?gclid=CMGe2t3-x9MCFc-1wAodJNYDwg))

Any help/tips w

[2017-04-28 21:34] proppy commented on #4
Can you paste the content of your `.asoundrc` and the output of `aplay -l` `arecord -l`?

See also:
https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/configure-audio

[2017-05-01 14:40] stursby commented on #4
@proppy, When I pasted the sample `.asoundrc` file, playback was failing, so I removed it. So assume I don't have one set. I'm currently using this [USB mic](https://www.adafruit.com/product/3367) and the 3.5mm headphone jack for output.

`aplay -l`

[code]

`arecord -l`

[code]
Thanks so much for your help!

[2017-05-01 16:38] oscartprom commented on #4
I am using the same setup. According to your output, your /home/pi/.asoundrc file should read:

[code]
Note the modified lines `pcm "hw:card_number,device_number"`

[2017-05-01 18:12] stursby commented on #4
@oscartprom Ok, I added that file. It seems to record just fine, however I'm not hearing anything played back when I run `aplay --format=S16_LE --rate=16k out.raw`.

I do however hear "front left, front left..." when running `speaker-test -t wav`

[2017-05-02 03:18] szabodabo commented on #4
Hm... if you are hearing audio when you run `speaker-test` but nothing when you `aplay` a file, are you sure that the file you're passing to `aplay` isn't empty? How do you know the recording actually picked up sound?

Is the `Connect Failed` error persistent? Did it work for you before? Are you running any kind of local or network firewall?

[2017-05-02 10:51] gamehelp16 opened #8 "ImportError: No module named 'google.protobuf'"
When running `python3 -m googlesamples.assistant` I got the following error:

    Traceback (most recent call last):
      File "/usr/lib64/python3.5/runpy.py", line 193, in _run_module_as_main
        "__main__", mod_spec)
      File "/usr/lib64/python3.5/runpy.py", line 85, in _run_code
        exec(code, run_globals)
      File "/usr/lib/python3.5/site-packages/googlesamples/assistant/__main__.

[2017-05-02 13:27] parkerlreed opened #9 "Error when using 48,000 sample rate"
I am running Assistant on a device that seems to only be capable of 48,000 sample rate.

If I run

[code]

It works perfectly capturing my voice and playing it back.

When I try to run the Assistant the same way, I get an invalid same rate error. Does the server not accept 48,000?

[code]

[2017-05-02 14:19] parkerlreed commented on #9
Ahh seems I'll have to resample https://developers.google.com/assistant/sdk/reference/rpc/google.assistant.embedded.v1alpha1#google.assistant.embedded.v1alpha1.AudioInConfig

[2017-05-02 14:19] #9 closed

[2017-05-02 17:42] proppy opened #10 "investigate unneeded dependencies"
We should check if portaudio and libffi-dev dependencies are still needed, most of the time we should be able to get binary wheels for those.

[2017-05-02 18:17] proppy commented on #8
Are you running `python3 -m googlesamples.assistant` from a virtualenv?

[2017-05-02 18:18] proppy commented on #4
Can you also try again after add the `.asoundrc` file?
[code]

[2017-05-02 18:57] proppy commented on #3
Merging with #2

[2017-05-02 18:57] #3 closed

[2017-05-02 21:18] parkerlreed commented on #9
For anybody else running into this. Investigate your microphone. The USB mic I was using seems ton only support 8,000 and 48,000Hz. Switched mics and it's working great.

[2017-05-02 22:52] stursby commented on #4
@proppy Here's the output from that:

[code]
I do hear a brief second or two of static... what am I supposed to hear?

[2017-05-03 03:42] r-clancy opened #11 "Playing Sounds in Response to Events?"
When using Google Assistant on your phone, there are several sounds that are played in response to certain events (after saying "Ok Google", etc.) - is there a nice way to get the sounds to play using the SDK?

I suppose one method would be to get the sound files from the search APK and use ALSA's "aplay" command as mentioned on the [Assistant SDK website](https://developers.google.com/assistant/s

[2017-05-03 06:21] gamehelp16 commented on #8
No I didn't. By the way, looks like installing the 3.1.0 version (`sudo pip3 install protobuf==3.1.0`) fixes the problem.

[2017-05-03 06:21] #8 closed

[2017-05-03 09:09] Pillar1989 opened #12 "WARNING:root:SoundDeviceStream write underflow (size: 1600)"
Hi
I verify audio setup works fine.
But when I run the demo, there are too many "WARNING:root:SoundDeviceStream write underflow (size: 1600)",  record and play are discontinuity.
[code]

[2017-05-03 16:52] proppy commented on #12
Which microphone / speaker are you using?

Do you have the same problem when running `python -m googlesamples.assistant.audio_helpers` ?

[2017-05-03 16:53] proppy commented on #11
You should be able to use the following package together to play sounds w/ the SDK:
https://pypi.python.org/pypi/SoundFile
https://pypi.python.org/pypi/sounddevice

[2017-05-03 16:54] proppy commented on #4
It's supposed to record something for 5 seconds and then replay it? Does it behave correctly?

[2017-05-03 17:18] Pillar1989 commented on #12
python -m googlesamples.assistant.audio_helpers works fine. I didnt have any problem.

[2017-05-03 17:20] proppy commented on #12
And the assistant sample doesn't?

Can you clarify the hardware you're using:
- Architecture and OS?
- Microphone type?
- Speaker type?

[2017-05-03 17:24] r-clancy commented on #11
That seems like a better way to handle playing the audio, but what about the Google sound files? Are these available for download anywhere, or would I have to extract them from the Google Assistant APK in order to play them?

[2017-05-03 18:05] proppy commented on #8
@gamehelp16 yep, the sample currently transitively depends on `protobuf==3.3.0`

[2017-05-04 00:20] proppy commented on #2
Should be fixed with 7da41cfbcd4f5aa0e0e34aa01a1ea1fdfb04b83b, feel free to give it a try

[2017-05-04 00:20] proppy commented on #3
Should be fixed with 7da41cf, feel free to give it a try

[2017-05-04 00:20] #2 closed

[2017-05-04 01:04] Pillar1989 commented on #12
We use seeed voice card.
[code]

[2017-05-04 01:35] proppy commented on #12
Can you link to the product page? Thanks.

[2017-05-04 01:49] Pillar1989 commented on #12
Sorry, seeed-voicecard have not yet been released.
But I verify python -m googlesamples.assistant.audio_helpers works fine.

[2017-05-04 02:04] proppy commented on #12
Can you try to run the sample with different `--audio-block-size` values ?

Try:
[code]

[2017-05-04 02:42] Pillar1989 commented on #12
I dont know what's wrong,  when I run   --audio-block-size option. I didnt see "WARNING:root:SoundDeviceStream write underflow (size: 1600)" . and when I remove --audio-block-size option, retest It. The WARNING  disappeared.

[2017-05-04 03:12] proppy commented on #12
@Pillar1989 can you also share the content of your `.asoundrc` ?

[2017-05-04 03:22] Pillar1989 commented on #12
[code]

[2017-05-05 22:37] irataxy opened #14 "Running googlesamples.assistant.audio_helpers gives an error"
Running the following command:
python -m googlesamples.assistant.audio_helpers

Gives this error:
TypeError: __init__() missing 1 required positional argument: 'sample_width'

[2017-05-05 23:45] #14 closed

[2017-05-06 00:09] kadeve opened #16 "typo in variable causes crash"
https://github.com/googlesamples/assistant-sdk-python/blob/master/googlesamples/assistant/__main__.py#L119

should be
`resp.result.spoken_response_text`
 i think

[2017-05-07 00:28] animeshp commented on #16
Yeah. I also think so.

Getting the following traceback

  File "/usr/lib/python3.4/runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.4/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/pi/env/lib/python3.4/site-packages/googlesamples/assistant/__main__.py", line 320, in <module>
    main()
  File "/home/pi/env/lib/python3.4/sit

[2017-05-07 10:26] xtools-at commented on #1
in the meantime, try this, it already has voice control for Assistant using pocketsphinx:
https://github.com/xtools-at/AssistantPi

[2017-05-07 12:46] Kinjalk opened #18 "How to Add Switch to trigger Google Assistant ?"
Please can you help me with adding switch to trigger google assistant ? Pressing enter every time is very annoying

[2017-05-07 17:14] mthoretton commented on #12
Hey,
I tried to play with `--audio-iter-size` and `--audio-block-size` but it seems that doesn't have any influence on the issue. I'm using a raspi 3 with a "JBL Go" as mic/speaker through bluetooth (using an external usb/bluetooth adapter).

[2017-05-07 18:27] ganduras opened #19 "Its possible to use this script for text search?"
I want to use text request and not tts , how to do this?

[2017-05-08 18:06] proppy commented on #18
See the Google+ discussion about this [here](https://plus.google.com/101714911555226603504/posts/RwuJARZua3s)

[2017-05-08 18:08] proppy commented on #19
See [this Google+ discussion](https://plus.google.com/101852559274654726533/posts/BskrFscRYdh) about a similar topic.

[2017-05-08 21:38] proppy commented on #12
@mthoretton can you open a separate issue with point to your microphone and speaker?

[2017-05-08 21:39] proppy commented on #16
Yep, should be fixed with #17 and #20

[2017-05-08 21:57] #16 closed

[2017-05-08 21:59] proppy opened #21 "split grpc package from google-assistant-sdk"
So that it's easier:
- to just depends on the bindings
- still distribute the tooling/sample/helpers separately
- show how to depends on the grpc bindings with `requirements.txt` in samples

[2017-05-08 22:05] proppy commented on #18
The README is actually referring to the go command line tool:
https://github.com/google/oauth2l/tree/master/go/oauth2client#command-line-tool

[2017-05-09 00:56] Pillar1989 commented on #12
Thanks @proppy

[2017-05-09 00:56] #12 closed

[2017-05-09 07:02] mikeleonard commented on #12
@Pillar1989 @proppy

Hi. Just FYI, I also have the same ```WARNING:root:SoundDeviceStream write underflow (size: 6144)``` issue when running the python code on my macbook pro.

I tried doubling and halving all the numeric settings e.g. audio-iter-size/audio-block-size/etc and these didn't seem to work.

Note that: it still seems to work fine (I mean I can converse with google assistant).

I think

[2017-05-09 12:36] Reijnn commented on #4
I have the same issue. Running googlesamples.assistant.audio_helper or the actual assistant also gives me invalid sample rate.

When attempting to record just an audio file: arecord --format=S16_LE --duration=5 --rate=16k --file-type=raw out.raw
That gives me Unknown PCM Mic
arecord: main:722: audio open error: No such file or directory.

I am using the same microphone as OP.

[2017-05-09 17:26] mayankshekhar111 commented on #4
After reading the comments I changed the .asoundrc file accordingly. Now the mic and playback are working fine.
However on starting the SDK the same error pops up.

Now what to do??

[2017-05-09 17:29] proppy commented on #4
Can you paste the output of `python -m googlesamples.assistant.audio_helpers` and comment if it behaves correctly (record 5 seconds of audio and replay them).

[2017-05-09 17:37] mayankshekhar111 commented on #4
I'm able to record and playback the audio. No issues. But this error continues

Traceback (most recent call last):
  File "/usr/lib/python3.4/runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.4/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/root/env/lib/python3.4/site-packages/googlesamples/assistant/audio_helpers/__main__.py", li

[2017-05-09 17:39] mayankshekhar111 commented on #4
How do I change the sample rate of the audio devices. I believe it should have been set to 16000 Hz as per this page
https://developers.google.com/assistant/sdk/best-practices/audio

[2017-05-09 17:45] proppy commented on #4
`--audio-sample-rate` flag allow you to control the sample rate, but it should already default to `16000`.

Can you show past here the command you're using to record/playback audio.

[2017-05-09 17:47] mayankshekhar111 commented on #4
# Record a short audio clip.
arecord --format=S16_LE --duration=5 --rate=16k --file-type=raw out.raw

# Check the recording by replaying it.
aplay --format=S16_LE --rate=16k out.raw

[2017-05-09 21:05] kronflux opened #22 "Recording audio request..."
Alright, so I've got sound both recording and playing back perfectly using both arecord/aplay as well as the googlesamples.assistant.audio_helpers functions.
However, when I run googlesamples.assistant, I hear nothing, and when I press Enter, I get "Recording audio request." and nothing else. I've tried giving requests, even tried yelling into the mic. Absolutely nothing. Just sits there at Record

[2017-05-09 21:29] proppy commented on #22
What happens if you run the samples with `-v` ?

[2017-05-09 21:30] proppy commented on #4
@mayankshekhar111  can you share the content of your `.asoundrc`?

[2017-05-09 21:31] proppy commented on #4
@stursby did you get it working?

[2017-05-09 21:33] kronflux commented on #22
INFO:ubuntu:Connecting to embeddedassistant.googleapis.com
Press Enter to send a new request...
INFO:ubuntu:Recording audio request.
Traceback (most recent call last):
  File "/usr/lib/python3.4/runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.4/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/root/env/lib/python3.4/site-packages/g

[2017-05-09 21:38] stursby commented on #4
I did not, however I haven't had much time to test again... will follow back up as I give it another shot! @mayankshekhar111 if you get it working, please share your findings! Thanks.

[2017-05-09 21:43] kronflux commented on #22
and if I leave it for several minutes(around 5-10?) it spits out this:

Traceback (most recent call last):
  File "/usr/lib/python3.4/runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.4/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/ubuntu/env/lib/python3.4/site-packages/googlesamples/assistant/__main__.py", line 320, in <mod

[2017-05-09 21:47] proppy commented on #22
Yep, it sounds like something might be off with the networking.

Are you able to call other API successfully from that setup?

[2017-05-09 21:48] kronflux commented on #22
I haven't really tried a whole lot else yet, this is a fresh install. but network connectivity for other tasks work fine so I really don't know.

[2017-05-09 21:50] proppy commented on #22
Were you able to run the `auth_helpers` successfully too?

[2017-05-09 21:51] kronflux commented on #22
yep! all setup up to actually running the assistant sample worked perfectly.

[2017-05-09 21:52] proppy commented on #22
@kronflux can you share the details of your setup:
- microphone
- speaker
- board revision

I'd like to try reproducing your issue.

[2017-05-09 22:00] kronflux commented on #22
Microphone is a cheap ebay USB one which doesn't have a brand name or markings on it
http://www.ebay.ca/itm/USB-Stand-Instrument-Mic-Microphone-for-Tablet-Laptop-Black-Mini-Studio-/182547604720

Speaker is using the analog audio jack, and is of no particular interest(I built it, but it's working for everything, so any old analog speaker should do)

Board is PineA64 A64-DB-V1.1 2G (201-A64DB110-02)

[2017-05-09 22:09] proppy commented on #22
Are you connected to the network thru ethernet?

[2017-05-09 22:13] kronflux commented on #22
WiFi (signal strength is excellent[using Google OnHub])

Are there any particular ports that it uses, that I might want to try forwarding?

[2017-05-09 22:15] proppy commented on #22
Are you using the Pine64 wifi module https://www.pine64.org/?product=wifi-802-11bgn-bluetooth-4-0-module for that?

Traffic should only be long-lived outbound HTTP/2.0 + TLS

[2017-05-09 22:16] kronflux commented on #22
Yep! That's the guy. Came with mine :)

[2017-05-10 08:44] Pillar1989 opened #23 "assistant-sdk-c++ ?"
Hi
    Does google have any plans to develop c++ sdk ? A lot of devices dont have python engine.

[2017-05-10 17:31] oscartprom commented on #18
We have an example of this in the Mocktails Mixer write-up. Instructions to wire the button are [here](https://github.com/Deeplocal/mocktailsmixer#final-connections) and the code is [here](https://github.com/Deeplocal/mocktailsmixer/blob/master/software/rpi/__main__.py) (lines of interest are mainly 150-181).

[2017-05-10 21:46] proppy commented on #23
Can you repost this question on the [Google+ community](g.co/assistantsdkdev)?

[2017-05-11 03:31] Pillar1989 commented on #23
@proppy Page not found.

[2017-05-11 17:25] proppy commented on #23
@Pillar1989 try again !

[2017-05-13 17:18] Kinjalk opened #27 "Voice activated Google assistant ."
How can I add wakeword engine like snowboy ?  Pushing button each time is not very friendly .

[2017-05-14 07:54] alfongj commented on #23
@Pillar1989 You can generate your own bindings for the API on C++. See the instructions [here](https://developers.google.com/assistant/sdk/prototype/getting-started-other-platforms/)

[2017-05-14 07:58] alfongj commented on #27
@Kinjalk please subscribe to #1 if you are interested in the SDK supporting hotword natively.

There's already some people in the community who have implemented wakeword with snowboy + the Assistant API. Please take a look at the [G+ community](g.co/assistantsdkdev)

[2017-05-14 07:58] #27 closed

[2017-05-14 07:59] alfongj commented on #11
They are not currently available for download with the SDK. Will keep this issue open to track the request

[2017-05-14 08:04] JElgar opened #28 "pip install error using zsh"
Im having a few issues, but im probably just being a bit stupid.
This command: python -m pip install --upgrade google-assistant-sdk[samples]
returns: zsh: no matches found: google-assistant-sdk[samples]
and this: python -m pip install --upgrade -e ".[samples]"
returns: Directory '.' is not installable. File 'setup.py' not found.

I therefore just ran: python -m pip install --upgrade google-assista

[2017-05-15 10:08] proppy commented on #28
can you try:
[code]
I think zsh might be trying the interpret the `[]` character.

Also make sure you upgraded pip and setuptools using
[code]

[2017-05-15 19:50] #21 closed

[2017-05-16 21:12] stursby commented on #4
@proppy Still can't get it to work... here's my `.asoundrc` and output from `python -m googlesamples.assistant.audio_helpers`

[code]

I only hear a quick static during the `INFO:root:Finished playback.` line, and `speaker-test -t wav` continues to work just fine.

[2017-05-17 08:56] proppy commented on #4
@stursby can you do a test similar to what you did back in https://github.com/googlesamples/assistant-sdk-python/issues/4#issuecomment-298391216, and past the output here and attach the `out.raw` file?

[code]

[2017-05-17 15:07] stursby commented on #4
@proppy Still not hearing anything 😢 Here's the output.

[code]

[2017-05-17 15:28] proppy commented on #4
@stursby can you try:
[code]

[2017-05-17 15:29] stursby commented on #4
@proppy Also... does it matter that I'm using Raspbian Jessie Lite? Do I need the full version for this to work?

[2017-05-17 15:34] stursby commented on #4
@proppy Just tried `aplay --format=S16_LE --rate=16k -d dmix out.raw` ... silence.

[2017-05-17 15:55] stursby commented on #4
@proppy Ok, I've got some good news! I just assumed that it couldn't be the USB mic that was the problem... it was. I had another USB mic (same make/model)... popped that one it, recording & playback totally work now!!! 💯

However... I'm still having this issue when running the assistant:

[code]

Any idea what `ERROR:root:grpc unavailable error: <_Rendezvous of RPC that terminated with (StatusCod

[2017-05-17 18:06] jakommo commented on #1
Seems like this was added in today's update https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/CHANGELOG.rst#030

[2017-05-17 19:36] ianno opened #32 "google-assistant-library empty"
The folder google-assistant-library is empty.
But it seems the library package is required to run googlesamples-assistant-hotword...

Running it returns:
[code]

[2017-05-17 19:53] ianno commented on #32
Also, running
`pip install --upgrade google_assistant_library-0.0.2-py2.py3-none-linux_armv7l.whl`
on Raspberry pi 3 returns:
`google_assistant_library-0.0.2-py2.py3-none-linux_armv7l.whl is not a supported wheel on this platform.`

[2017-05-17 20:07] proppy commented on #32
@ianno did you upgrade pip w/ `pip install --upgrade pip` ?

[2017-05-17 20:09] ianno commented on #32
Upgrading pip worked!
Thanks!

[2017-05-17 20:47] #32 closed

[2017-05-18 01:22] #23 closed

[2017-05-18 11:21] capitalfuse opened #33 "orange pi pc compile error"
Tried to install google-assistant-grpc, but the compiled error occurred.

Hardware: Orange Pi PC, OS: Armbian
ARMBIAN 5.25 stable Debian GNU/Linux 8 (jessie) 3.4.113-sun8i
Installed all need packages. Virtualenv under python3-venv
Hope to get any help and hints.

The follwing is install process.

(env) takanobu@orangepipc:~$ pip install --upgrade google-assistant-grpc
Collecting google-assistant-g

[2017-05-18 11:23] irvanrahadhian commented on #28
@proppy Thank you for the solution by upgrade pip and setuptools.

[2017-05-18 13:59] palaniraja commented on #11
Could you please add audio feedback once wake word is recognised?

The default `google-assistant-demo` running in headless mode at the moment does not have any feedback and user is clueless whether it listening or not

[2017-05-18 23:33] LukusAurelius opened #36 "cryptic error message if alsa initialization fails"
I'm having a problem here. I followed the Google Assistant Library instructions, but when I run "google-assistant-demo", I get the following error:

[code]

I think this may be due to my microphone. I am using a PS3 Eye, which has good microphones, but ALSA doesn't like that they are set up as an array. I had problems with this mic while using AlexaPi, so that's why I think my mic might be causing

[2017-05-18 23:52] giobauermeister commented on #36
Hi!
Try checking again the card and device numbers of your mic and speakers with the commands:
[code]
then check again the `.asoundrc` file if the numbers match.

[2017-05-19 00:01] frakman1 opened #37 "Install failure with armv6l architecture"
I followed all the [instructions ](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/run-sample)faithfully until I got to "Get the library and sample code" and ran into this error:

[code]
Note I am running on the latest Raspberry Pi Zero Wireless and latest Jessie image:
[code]
I see that mine is armv6l and your release is for armv7l.
[code]

[2017-05-19 00:12] giobauermeister opened #38 "connection failure results in segfault and cryptic error message"
I'm getting the following error on the Raspberry Pi 3 with the new 0.2.0 release. After I say "Ok Google", it shows `ON_CONVERSATION_TURN_STARTED`. Then a few seconds after I make the query, the error shows.
[code]

[2017-05-19 01:12] proppy commented on #38
Can you confirm that your Raspberry Pi is connected to internet, are you able to ping and curl `embeddedassistant.googleapis.com` ?

[2017-05-19 01:18] proppy commented on #37
@frakman1 can you try to update pip:
[code]

[2017-05-19 01:21] proppy commented on #33
can you confirm which version of gcc you have installed?

[2017-05-19 01:37] giobauermeister commented on #38
@proppy I got it working connecting the Raspberry Pi directly to my router with Ethernet cable or WiFi network.
I always ssh to my Raspberry Pi through a shared network on my laptop with DHCP server and so. I could install packages and also could ping and curl normally as you said but the the assistant didn't work though.

[2017-05-19 02:35] capitalfuse commented on #33
additional info, please see the followings.
I have installed build-essential pkg.

~$ gcc --version
gcc (Debian 4.9.2-10) 4.9.2

~$ uname -a
Linux orangepipc 3.4.113-sun8i #10 SMP PREEMPT Thu Feb 23 19:55:00 CET 2017 armv7l GNU/Linux

[2017-05-19 04:36] proppy commented on #1
Yep, see https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/ to get started.

[2017-05-19 04:36] #1 closed

[2017-05-19 04:41] proppy opened #40 "Better message for retrying"
The current error message printed when [retrying the grpc connection](https://github.com/googlesamples/assistant-sdk-python/commit/7da41cfbcd4f5aa0e0e34aa01a1ea1fdfb04b83b) make it looks like something bad happened.

[code]

The level should be switched to warning and more explicit about the fact that the gRPC call is retried

[2017-05-19 04:41] proppy commented on #4
[code]
That happens when the connection timeout and we automatically retry the connection (with https://github.com/googlesamples/assistant-sdk-python/commit/7da41cfbcd4f5aa0e0e34aa01a1ea1fdfb04b83b).

That shouldn't be fatal or impact the operation of the sample, but we could definitely use a better error message, filed #40

[2017-05-19 04:41] #4 closed

[2017-05-19 05:07] proppy commented on #38
Glad you got it working.

Keeping the issue open because of the:
- Segmentation fault
- Cryptic error message
- missleading `ON_RESPONDING_STARTED` event.

[2017-05-19 13:29] frakman1 commented on #37
What makes you think I am using an older version of pip? I already ran that command. Here is the log:

[code]

[2017-05-19 14:48] proppy commented on #37
@frakman1 because something had a similar issue before: https://github.com/googlesamples/assistant-sdk-python/issues/32

Linux raspberrypi 4.9.24+ #993 Wed Apr 26 17:56:54 BST 2017 armv6l GNU/Linux

It appears that you're running a `armv6l` build of Raspbian on Raspberry Pi Zero Wireless, unfortunately the Google Assistant Library currently only supports ["devices with linux-armv7l architectures (

[2017-05-19 17:55] sweetmeats83 opened #41 "communication error"
I'm having trouble getting assistant to work. Assistant responds to ok google and hey google with something went wrong.

`
(env) pi@google:~ $ google-assistant-demo
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED
[14761:14772:ERROR:speech_processing_task.cc(340)] S3 connection has timed out: No data from S3
[14761:14772:ERROR:speech_processing_task.cc(646)] Detected communication error:

[2017-05-19 18:33] proppy commented on #41
Are you able to access the internet from the pi, can you try:

[code]

[2017-05-19 18:46] sweetmeats83 commented on #41
`(env) pi@google:~ $ ping embeddedassistant.googleapis.com
PING googleapis.l.google.com (172.217.3.42) 56(84) bytes of data.
64 bytes from iad23s57-in-f42.1e100.net (172.217.3.42): icmp_seq=1 ttl=50 time=248 ms
64 bytes from iad23s57-in-f42.1e100.net (172.217.3.42): icmp_seq=2 ttl=50 time=141 ms
64 bytes from iad23s57-in-f42.1e100.net (172.217.3.42): icmp_seq=3 ttl=50 time=235 ms
64 bytes from iad

[2017-05-19 18:50] sweetmeats83 commented on #41
When I entered the authorization code it did not give me
`OAuth credentials initialized`
It said instead
`credentials saved: /home/pi/.config/google-oauthlib-tool/credentials.json`

[2017-05-19 19:47] proppy commented on #41
Seems similar to #38.

[2017-05-19 21:20] sweetmeats83 commented on #41
connected to Ethernet cable still same issues.
can ping  and curl

[2017-05-20 00:35] LukusAurelius commented on #36
I messed around with my `.asoundrc` and fixed the issue. For those who have the same issue as me, here is my `.asoundrc`:

[code]

[2017-05-20 00:36] #36 closed

[2017-05-20 13:22] sweetmeats83 commented on #41
I solved this problem by recreating a new project and credentials. I then went through the authentication process again. Google assistant is now working on my raspberry pi.

[2017-05-20 13:23] #41 closed

[2017-05-20 14:25] claudioita opened #43 "Problems with Jabra 510 USB speaker: high pitch when answering"
The speakerphone works perfectly with other programs, and also during the test (arecord and aplay).

When launching the program, the mic part works well (you can read it recognized the wake word and the query), it also issues the right commands (I turn on a Hue light with it), but the speaker part is with a very high pitch, like if the frequency or rate are totally wrong.

How to solve?

[2017-05-20 14:29] antoves opened #44 "Raspberry pi zero installation"
Hello,
does it exist a method to set up the old version of GoogleAssistantSDK? (I mean the 0.2.0)
That's because it seems to support the pi zero architecture.

Thank you very much for reading.

[2017-05-20 14:41] claudioita commented on #43
this is the log, but the problem is in the high pitch

(env) pi@raspberrypi:~ $ google-assistant-demo
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED

ON_CONVERSATION_TURN_STARTED
ON_END_OF_UTTERANCE
ON_RECOGNIZING_SPEECH_FINISHED:
  {'text': 'what time is it'}
ON_RESPONDING_STARTED:
  {'is_error_response': False}
WriteDataToAlsa: Under-run occurred; attempting to recover.
ALSA lib pcm.c

[2017-05-20 17:19] antoves commented on #37
I have created another issue but I think that it could be useful to write the same question here:

Since the new version of the GoogleAssistant SDK doesn't seem to be compatible with the raspberry pi zero w while the version 0.2.0 was compatible, is there any way to set up the old one instead of the newest?

Thank you for the attention

[2017-05-20 17:24] Kiszaner opened #45 "Install failure in armv71 architecture"
Hi, I was following [the installation guide](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/run-sample) and I encountered with this error message:

Prior this error, none showed up while I was following the guide. I'm using a Raspberry Pi 3 model B (armv71) and I already updated pip as said in #37 , which seems to be a similar problem but in different architecture.

[2017-05-20 18:44] vatcalLK opened #46 "sample fails to launch under Python IDLE"
When i launch pushtotalk.py i get the following error.
(cannot import name 'assistant_helpers')

this is the code line
try:
    from . import (
        assistant_helpers,
        audio_helpers
    )
except SystemError:
    import assistant_helpers
    import audio_helpers

[2017-05-20 21:27] frakman1 commented on #37
Do you mean `git checkout` the 0.2.0 version of this repo? I will still need a compatible version of this file: `google_assistant_library-0.0.2-py2.py3-none-linux_armv7l.whl`
Where can I get a version of this file that I can use? It would need to be built for the `armv6l`

[2017-05-21 05:53] proppy commented on #37
@antoves @frakman1 the grpc bindings (which was used in the old version) is now splitted in a separate package `google-assistant-grpc`: https://pypi.python.org/pypi/google-assistant-grpc

[2017-05-21 05:54] proppy commented on #44
The grpc bindings should work on the pi zero, see https://pypi.python.org/pypi/google-assistant-grpc and the sample [here](https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk/googlesamples/assistant/grpc).

[2017-05-21 05:56] proppy commented on #45
@Kiszaner can you conirm you're running `pip install` from a virtualenv, and can you confirm the version of python and pip you're using?

Thanks in advance.

[2017-05-21 05:57] proppy commented on #46
@vatcalLK can you paste the command line you're launching and the associated logs?

[2017-05-21 07:11] vatcalLK commented on #46
I got it to work. It worked after i called the python script from command
line (-py pushtotalk).
But it gives the error when running from the Python IDE.

On May 21, 2017 11:27 AM, "Johan Euphrosine" <notifications@github.com>
wrote:

@vatcalLK <https://github.com/vatcallk> can you paste the command line
you're launching and the associated logs?

—
You are receiving this because you were mentioned

[2017-05-21 08:52] Kiszaner commented on #45
@proppy yes sure, I did the pip install from the virtualenv and I run the commands both with python and python3 variants (just in case, my rasp have python 2.7 also), but none worked. Here are the versions

These were the versions I used yesterday and it didn't work, but today I did again the .whl step and it worked without doing any update/upgrade, so not sure what happened.

[2017-05-21 18:07] sondresorbye0111 opened #47 "Assistant not responding to hotword"
I have installed the Google assistant on my raspberry pi 3.I have followed the documentation for the google assistant sdk, but it does not work. The assistant is not responding when I say "Ok, Google"

The output when I try to start the assistant is:

[code]

When I test the recording, the recording is being played too fast. Can this be the problem that the Google assistant is not responsing?

I a

[2017-05-22 17:00] Kinjalk opened #48 "How to make Smart home action on google like smart home skill on alexa ?"
I have tried making Smart home action but it does not show up in google home app . can you please help me ?

[2017-05-22 17:40] proppy commented on #48
Did you try asking the question on https://stackoverflow.com/questions/tagged/actions-on-google? This repository is for the Google Assistant SDK for Python (python package that helps you to build your own assistant device).

[2017-05-22 18:22] proppy commented on #47
Can you share the full error log that you're getting and your `.asoundrc` configuration?

[2017-05-22 18:23] proppy commented on #46
Which Python IDE are you using?

[2017-05-22 18:24] proppy opened #49 "distribute library wheel on pypi"
now that https://github.com/pypa/warehouse/issues/2003 is fixed, we should distribute the library wheel on pypi.

[2017-05-22 18:24] proppy commented on #45
Filed #49, hope this will help to streamline the installation process.

[2017-05-22 18:24] #45 closed

[2017-05-22 18:25] vatcalLK commented on #46
The normal IDE python 3.6

On May 22, 2017 23:53, "Johan Euphrosine" <notifications@github.com> wrote:

[2017-05-22 18:27] proppy opened #50 "add simple demo to grpc package"
So that developer can try something after installing:
[code]

It could take an audio file from the command line (or stdin) and output the assistant response as pcm data.

Ideally it could work with:
[code]

[2017-05-22 18:27] proppy commented on #37
Filed #49 and #50 ope this will help to streamline the install process.

[code]

[code]

[2017-05-22 18:27] #37 closed

[2017-05-22 18:29] proppy commented on #46
IDLE ?

[2017-05-22 18:29] vatcalLK commented on #46
Yeah

On May 22, 2017 23:59, "Johan Euphrosine" <notifications@github.com> wrote:

[2017-05-22 18:30] proppy commented on #44
Related #37.

Filed #49 and #50, hope this will help streamline to install process.

[2017-05-22 18:30] #44 closed

[2017-05-22 18:31] vatcalLK commented on #46
And do you by any chance know how to get text to speech with the google
assistance voice.
I checked out the gTTS but the voice on that isn't like the assistant voice
:/

On May 22, 2017 23:59, "Johan Euphrosine" <notifications@github.com> wrote:

[2017-05-22 18:46] Simonx22 opened #51 "Google Assistant says "something went wrong... try again in a few seconds" all the time"
ON_CONVERSATION_TURN_STARTED
[979:7790:ERROR:speech_processing_task.cc(646)] Detected communication error: Downstream closed prematurely.
[979:7790:ERROR:assistant_output_handler.cc(589)] Failed with a general speech recognition error
ON_ASSISTANT_ERROR:
  {'is_fatal': False}
ON_RESPONDING_STARTED:
  {'is_error_response': True}
ON_RESPONDING_FINISHED
ON_CONVERSATION_TURN_FINISHED:
  {'with_follow_

[2017-05-22 18:53] Simonx22 commented on #51
It looks like other people without the SDK have the same problem. So it's not really an issue with the SDK.

[2017-05-22 18:53] #51 closed

[2017-05-22 19:10] proppy commented on #46
@vatcalLK I'm not totally clear on what you other question is, do you mind clarifying on a new post on https://stackoverflow.com/questions/tagged/google-assistant-sdk ?

[2017-05-22 19:22] vatcalLK commented on #46
Its like this
After the assistant has recorded my voice it translates it to text yeah?
So, i Trigger one of my own custom python scripts to do some 'stuff' based
on what the text was. And this all works great, but i after i have
completed doing the 'stuff' i want the assistant to say something like
'okay' and for this i would have to use Text to Speech. Google has a sdk
called gTTS (GOOGLE TEXT TO

[2017-05-22 19:30] MAGSON commented on #47
**The .asounrc file:**

[code]
Here is a link to a picture of the error I receive in the cloud console: [](https://drive.google.com/open?id=0B92FVcqvLD_YaHNQbEZSMlJuZUk )

[2017-05-23 05:00] efudsi344324f opened #52 "My Google Assistant doesn't work and is spamming the console"
It's saying this all the time:
"ON_START_FINISHED
[1228:1278:ERROR:speech_processing_task.cc(340)] S3 connection has timed out: No data from S3
[1228:1278:ERROR:speech_processing_task.cc(646)] Detected communication error: Downstream closed prematurely.
[1228:1278:ERROR:speech_processing_task.cc(340)] S3 connection has timed out: No data from S3
[1228:1278:ERROR:speech_processing_task.cc(646)] Det

[2017-05-23 17:32] proppy commented on #52
Related #38

[2017-05-23 17:35] proppy commented on #46
@vatcalLK https://developers.google.com/actions/ can allow you to customize the response of the assistant.

[2017-05-23 17:36] proppy commented on #46
renamed the issue to better track the original report.

[2017-05-23 19:02] vatcalLK commented on #46
Say I create a custom action
I say "Hey Google, talk to 'myproject'"
And Google passes me over to my custom actions app. From there i would like
to achieve this. My Client says "Turn on 'somthing'" i want the app to
update a SQL database value, and each of my clients have different SQL
databases. Can i achieve this with google apps? Say i created a server with
.Net and host it online which can upd

[2017-05-23 19:05] proppy commented on #46
@vatcalLK I think that this would be better discussed on g.co/actionsdev or https://stackoverflow.com/questions/tagged/actions-on-google: this issue tracker is for tracking bugs and feature request with the Assistant SDK samples.

[2017-05-24 11:56] efudsi344324f commented on #52
The issue is gone now. Weird. I'm gonna close this issue, since #38 exists.

[2017-05-24 11:56] #52 closed

[2017-05-25 09:52] WellyHong commented on #47
I encountered this same problem and below is my .asoundrc file.
`pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.mic {
  type plug
  slave {
    pcm "hw:1,0"
  }
}
pcm.speaker {
  type plug
  slave {
    pcm "hw:0,1"
  }
}`

I also tried "googlesamples-assistant-audiotest --record-time 10" and "googlesamples-assistant-pushtotalk". It performed well.
But "google-assist

[2017-05-25 13:47] chris-gunawardena commented on #47
Same issue, the response code is 499 and the method is google.internal.speech.S3OnePlatform.Assistant

[2017-05-26 02:14] cxlwill opened #57 "Respond time delay"
Just install the GA in my Pi 3B with Raspbian and everything works fine except GA responded too fast that the first 2~3 words is missing when output the audio. I guess it is resulted from launch time conflict between GA and audio output device. (ie. audio output is 2 seconds slower than GA robot respond.) I am not sure it only happens on me or others have the same issue.

I have tried HDMI output

[2017-05-26 18:27] proppy commented on #57
Can you confirm which ``package`` version and attach the output of the sample you're running?

Thanks in advance.

[2017-05-27 00:16] proppy commented on #49
https://pypi.python.org/pypi/google-assistant-library

[2017-05-27 00:16] #49 closed

[2017-05-27 08:48] shaunakg opened #63 "Is there a way to get the Assistant output displayed on the screen?"
I was wondering if the screen could look something like this:
`"Will I need an umbrella?"`
`"ASSISTANT_RESPONSE: "No, you will not need an umbrella. It is 57 degrees and sunny."`

[2017-05-27 08:51] jacksonsevendelta commented on #47
I also had the same issue, but for some reason it worked when I restarted.

[2017-05-27 16:30] chris-gunawardena commented on #47
No luck after restarting and I don't have a .asoundrc file.

[2017-05-28 01:14] jacksonsevendelta commented on #47
Try [this page](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/configure-audio), that Google made. If you don't have an `.asoundrc` file, you can make one and put this code in it (courtesy of google):

`pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.mic {
  type plug
  slave {
    pcm "hw:<card number>,<device number>"
  }
}
pcm.speak

[2017-05-28 11:28] chris-gunawardena commented on #47
Thanks @jacksonsevendelta, still not working. I'm getting the following error `[496:523:ERROR:mic_failure_detector.cc(120)] Channel 1 has failed. Powers -inf and -inf` now.

[2017-05-28 14:32] Kinjalk opened #64 "How can i increase sensitivity of wake word ?"
Also i am getting this error after internet get disconnected.
[code]

**After restarting assistant it works fine**

[2017-05-28 16:23] Kinjalk opened #65 "Support for Music player."
How can i add support for music player ?

[2017-05-28 18:37] Simon856 commented on #47
Just got the same issue. It started after the Google Assistant crashed and I tried to restart it. A reboot fixes this issue, though.

[2017-05-28 19:16] HarvsG opened #66 "How can I make the assistant run on start up on a raspberry pi?"

[2017-05-29 02:12] jacksonsevendelta commented on #47
Yes. I know I'm hijacking, but why can't you kill it with CTRL-C? It should be implemented.

[2017-05-29 04:20] tianbastion opened #67 "Start up error"
When I run the command google-assistant-demo I get this error:

ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED
[16902:16919:ERROR:mic_failure_detector.cc(120)] Channel 1 has failed. Powers -inf and -inf
[16902:17481:ERROR:mic_failure_detector.cc(120)] Channel 1 has failed. Powers -inf and -inf
[16902:17643:ERROR:mic_failure_detector.cc(120)] Channel 1 has failed. Powers -inf and -inf

M

[2017-05-29 06:09] jacksonsevendelta commented on #48
I know that you've been redirected by @proppy, but I want to say that you can program simple actions (including smart home actions) using [IFTTT](ifttt.com). It's surprising easy and the changes are integrated to Google Assistant after restart.

Disclaimer: I don't work for IFTTT. Just use it a lot with Assistant on my Pi.

[2017-05-29 06:13] jacksonsevendelta commented on #64
Assistant isn't meant to work without the internet. Is that what your problem is?

[2017-05-29 06:16] jacksonsevendelta commented on #46
To @vatcalLK: you can use [IFTTT](https://ifttt.com). It can talk to almost any smart device.

[2017-05-29 06:17] jacksonsevendelta commented on #43
It seems like a problem with your power.

[2017-05-29 06:18] jacksonsevendelta commented on #66
Yes! My time has come!

I made a GitHub repo and script for basically this purpose. You can see it [here.](https://github.com/jacksonsevendelta/GooglePi)

[2017-05-29 06:21] jacksonsevendelta commented on #67
There's a similar issue already open. [Here you go.](https://github.com/googlesamples/assistant-sdk-python/issues/47#issuecomment-304508044)

[2017-05-29 06:52] claudioita commented on #43
what do you mean?

It is connected to the PI3 USB port, but should have enough charge (will check that). But nevertheless if I use aplay it play correctly ...

Can you elaborate?

[2017-05-29 06:58] Simonx22 commented on #67
Same issue when I use nohup.

[2017-05-29 07:07] jacksonsevendelta commented on #43
Ah sorry, didn't see that it worked using aplay before. There's a lot of other threads on Raspberry Pi forums about people attaching speakers that drain a lot of power and asking why it won't work.

It seems like there might be a problem with your .asoundrc file. Could you `sudo nano /home/pi/.asoundrc` and check if you have a pre-existing file there? Or you could create a new one using [Google's

[2017-05-29 07:30] claudioita commented on #43
Yes I think the problem is there. I managed (with lots of difficulties) to make it work when I installed AlexaPi or AssistantPi (now I am not sure), and I do not remember what I have done precisely.

This is my file. I put, as suggested by others, but is not working ... maybe some other configuration file somewhere, but I do not know where to look

pcm.jabbra {
    type hw
    card 0
    device 0

[2017-05-29 10:07] HarvsG commented on #66
Thank you very much, a great help! As you have already seen I have forked it and made a couple of changes and ironed a few bugs that I was getting in headless mode!

Thank you once again

[2017-05-30 06:47] capitalfuse commented on #33
OS reinstalled, everything installed without a problem. Probably Python configurations had been broken.

[2017-05-30 06:47] #33 closed

[2017-05-30 08:57] bennuttall commented on #49
Am I right in thinking that next-gen PyPI now allows uploading arm wheels, and they appear on legacy PyPI?

If so, how do you do this?

[2017-05-31 04:14] tianbastion commented on #67
Still not running properly after making .asoundrc file. Is there another debug mode I can use?

[2017-05-31 07:23] sheridat opened #68 "Potentially Disenfranchise Raspberry PI Zero and W AIY users"
I added to a comment on an issue at the google/aiyprojects-raspbian repository yesterday  https://github.com/google/aiyprojects-raspbian/pull/64.

The AIY project are working on replacing their current version of the Google Assistant SDK that is based on armv6 with the new version that is armv7 based. I've pointed out that some AIY users are using Raspberry PI Zero's and W's that cannot run armv7

[2017-05-31 09:27] jacksonsevendelta commented on #67
@tianbastion This might be a bit drastic, but you could clean install Raspbian.

[2017-06-01 00:21] danielcn opened #69 "Error: Could not find a version that satisfies the requirement google-assistant-library"
Hi,
I'm running google-assistant-library with:

pip install --upgrade google-assistant-library

I get this message:
Collecting google-assistant-library
  Could not find a version that satisfies the requirement google-assistant-library (from versions: )
 Could not find a version that satisfies the requirement google-assistant-library
No matching distribution found for google-assistant-library

Than

[2017-06-01 02:45] capitalfuse opened #70 "google-assistant-demo googlesamples-assistant-hotword stuck."
<Device&OS>
Linux orangepipc 3.4.113-sun8i #10 SMP PREEMPT Thu Feb 23 19:55:00 CET 2017 armv7l armv7l armv7l GNU/Linux

I tried this SDK under python3-venv, all install will be OK, but I wonder the followings might be not good.
1. googlesamples-assistant-pushtotalk works well but displayed "WARNING:root:SoundDeviceStream read overflow (3200, 6400)"

2. The following samples have been stuck.

$ goo

[2017-06-01 08:19] sheridat commented on #68
This has been resolved - the AIY project have catered for people using the Pi Zero and W by checking what version on arm is being used and only installing the new assistant sdk if is armv7

[2017-06-01 08:19] #68 closed

[2017-06-01 10:44] vixriihi commented on #47
I've got this issue as well. `google-assistant-demo` hangs with ON_START_FINISHED status and doesn't continue from there. Cloud console is showing 100% error google.internal.speech.S3OnePlatform.Assistant

Recording and playback is working just fine when I test using the "Configure and Test the Audio"-page.
I'm using PI 3.

[2017-06-01 18:44] proppy commented on #63
Currently the assistant response is not systematically included in the `ConverseResult`.

I encourage you to discuss this topic with the team on in the [Google+ community](https://g.co/assistantsdkdev).

[2017-06-01 18:45] proppy commented on #64
Connection issue looks related to #38

[2017-06-01 18:46] proppy commented on #66
Looks like @jacksonsevendelta provide a nice example. Closing this issue.

[2017-06-01 18:46] #66 closed

[2017-06-01 18:49] proppy commented on #67
@tianbastion can you copy the content of your `.asoundrc` here and report if the [audio configuration steps in the documentation](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/configure-audio) were successful.

[2017-06-01 18:50] proppy commented on #64
Did you try to follow the [instructions in the documentation](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/troubleshooting#voice-recognition) to increase mic sensitivity?

[2017-06-01 18:50] proppy commented on #69
What platform are you running on?

Currently the `google-assistant-library` package is only available on Raspberry Pi 3.

[2017-06-01 18:51] proppy commented on #70
Did you try to say "Ok, Google" or "Hey, Google" to trigger a new conversation?

[2017-06-01 19:08] proppy commented on #47
@vixriihi can you confirm that the hotword "Ok, Google" or "Hey, Google" are not recognized?

Also did you try to raise the microphone sensibility according to the [troubleshooting instructions](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/troubleshooting)

[2017-06-01 19:09] proppy commented on #70
Related #47.

[2017-06-02 04:22] mhalano opened #71 "Support for x86 platforms"
The idea is allow x86 devices be able to install dependencies and run the demo.

[2017-06-02 09:26] vixriihi commented on #47
@proppy Nice it's working. I thought that the status text would change to something else, but indeed it's now working just fine. Thanks

[2017-06-02 12:48] drigz opened #72 "Can't run 0.3.1 samples in virtualenv - wrong urllib3 version"
Steps to reproduce:

1. Start with a fresh Raspbian 2017-04-10 image
1. `sudo apt-get install -y python3-virtualenv portaudio19-dev libffi-dev libssl-dev`
1. `python3 -m virtualenv -p python3 env`
1. `env/bin/pip install --upgrade pip`
1. `env/bin/pip install --upgrade google-assistant-sdk[samples]`
1. `env/bin/googlesamples-assistant-pushtotalk`

Fails with:

`RuntimeError: Requests dependency 'u

[2017-06-02 14:19] shirish47 opened #73 "googlesamples-assistant-pushtotalk gives error"
I am trying google assistant with raspberry pi ..I have followed all steps https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk

`ERROR:root:Error loading credentials: [Errno 2] No such file or directory: /home/pi/.config/google-oauthlib-tool/credentials.json
ERROR:root:Run google-oauthlib-tool to initialize new OAuth 2.0 credentials.`

I have attached downloaded

[2017-06-02 14:45] capitalfuse commented on #73
After implementing the command "google-oauthlib-tool", shows the link address for getting the encrypted characters. You should copy and paste this address in the browser, and follow the procedure.

[2017-06-02 15:21] shirish47 commented on #73
yes the browser opens up automatically asking for allowing the app.. I follow and it successful but still that command does not work.

[2017-06-02 17:51] proppy commented on #71
Note that the `google-assistant-grpc` [package](https://pypi.python.org/pypi/google-assistant-grpc) and [sample](https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk/googlesamples/assistant/grpc) should work on x86.

[2017-06-02 17:55] proppy commented on #73
@shirish47 can you paste the output of the `google-oauthlib-tool` tool?

[2017-06-02 20:12] capitalfuse commented on #73
In the case of Linux terminal, after showing up the "output characters" on the browser, back to the terminal and copy and paste these characters to which should be entered.

[2017-06-02 20:53] Steve9F commented on #43
I'm experiencing a similar issue using a USB connected Polycom speaker / mic. It works fine when testing with arecord and aplay, It also plays back correctly using audio_helpers.py and googlesamples-assistant-pushtotalk. However when using googlesamples-assistant-hotword the playback is garbled and I get the same stream of "WriteDataToAlsa: Under-run occurred; attempting to recover" and "ALSA lib

[2017-06-03 00:35] jacksonsevendelta commented on #43
Try google-assistant-demo instead of googlesample-assistant-hotword. It just might work.

[2017-06-03 01:45] capitalfuse commented on #70
Tweaked the .asoundrc like the following.

But after "ALSA lib pcm.c:7963:(snd_pcm_recover) underrun occurred", again stuck.

[2017-06-03 03:16] #70 closed

[2017-06-03 03:47] apkelly commented on #69
Are there plans to support the Raspberry Pi Model B any time soon? Is the lack of current support due to slower hardware on the older Pi models?

[2017-06-03 04:36] shirish47 commented on #73
after the command of google-authlib-tool ... it asks: for use your google assistant: board access to your google acount I click allow. then browser shows the authenticatiion flow has completed you may close this window.and then I do googlesamples-assistant-pushtotalk and thn that error I posted above. I am doing it on raspberry pi.

[2017-06-03 04:52] shirish47 commented on #73
Also I don't get anthing similar to this terminal shows {"token": .......... other credential stuff}<img width="860" alt="screen shot 2017-06-03 at 10 21 42 am" src="https://cloud.githubusercontent.com/assets/6296507/26750712/7b965c38-4846-11e7-9501-cd3e94eee7e0.png">

[2017-06-03 11:32] capitalfuse commented on #73
Your attached image shows "Enter the authorization code: ". You must enter the code you got on the browser. Would you like to access the site not to click the link, but copy and paste the address? Or you might ready another auth ID for  {"token": .......... other credential stuff}.

[2017-06-03 11:56] claudioita commented on #43
I haven't found a solution yet

[2017-06-03 13:56] shirish47 commented on #73
@capitalfuse thats the image of the document ....I did not get that .. well we restarted all from fresh OS image and things seems to work now . I might have miss one or two steps some where but I did tried it for 1 whole day after deciding to redo all .

[2017-06-03 16:45] danielcn commented on #69
pi@raspberrypi:~ $ cat /proc/cpuinfo
processor	: 0
model name	: ARMv6-compatible processor rev 7 (v6l)
BogoMIPS	: 697.95
Features	: half thumb fastmult vfp edsp java tls
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0
CPU part	: 0xb76
CPU revision	: 7

Hardware	: BCM2708
Revision	: 000e
Serial		: 000000003f05925a

[2017-06-04 19:37] shivasiddharth opened #75 "Mute not working"
I set the is_mute to True in the assistant.py, yet the mic seems to be listening for hotword.

[2017-06-04 22:36] capitalfuse commented on #47
From #70, After activating alsa plug-ins dmix and dsnoop, works well on orange pi pc on both of hotword and demo sample code, but under these activating conditions, pushtotalk sample code is stuck.

[2017-06-05 17:30] proppy commented on #43
@claudioita can you confirm which soundcard you're using?

(dump of `dmesg | sound` or `lspci` would help).

[2017-06-05 17:55] Steve9F commented on #43
Looking into this some more it looks like both googlesamples-assistant-hotword and google-assistant-demo use libassistant_embedder_armv71.so compiled library whereas googlesamples-assistant-audiotest and googlesamples-assistant-pushtotalk which work use the Python embedded library so appears to be an issue that Google will need to fix.

FWIW my USB device is (play & record):

card 1: CX100 [Polyco

[2017-06-05 18:53] claudioita commented on #43
interesting. Yes that could be. Any action to fix it from my side?

[2017-06-05 19:38] #72 closed

[2017-06-06 00:26] proppy commented on #73
@shirish47 are you sure you were passing the `--save` flag?

[2017-06-06 00:33] proppy commented on #72
Fixed with https://github.com/googlesamples/assistant-sdk-python/releases/tag/0.3.2

[2017-06-06 00:47] krsnaa opened #77 "source code for google-assistant-library"
Where can I find the source code for google-assistant-library?

I get buttery smooth audio playback with the assistant-library on the RasPi but super choppy with the assistant-grpc implementation. Tweaking the audio-block-size and other parameters didn't seem to have any significant effect.

Would love to look into the library source to see what audio libraries and settings are being used.

[2017-06-06 00:55] krsnaa commented on #65
AFAIK the google assistant API doesn't currently allow you to play music files natively. (Alexa SDK was similar - they didn't initially allow it; then later added support for it after many months.)

This may be one approach that could work: Install a separate player that allows programmatic access like MOPIDY on the client. On the server/API.AI/cloud functions side, capture the appropriate intent

[2017-06-06 00:57] krsnaa commented on #57
@cxlwill if you save the output to a file, do you see the same behavior?

[2017-06-06 01:04] krsnaa opened #78 "How to get assistant's response text?"
ConverseResponse.result.spoken_response_text is always blank in the grpc sample.

[2017-06-06 03:41] tianbastion commented on #67
pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.mic {
  type plug
  slave {
    pcm "hw:1,0"
  }
}
pcm.speaker {
  type plug
  slave {
    pcm "hw:0,0"
  }
}

[2017-06-06 03:42] tianbastion commented on #67
speaker and mic recording fine

[2017-06-06 06:50] mbolanos commented on #69
cat /proc/cpuinfo
processor	: 0
model name	: ARMv6-compatible processor rev 7 (v6l)
BogoMIPS	: 697.95
Features	: half thumb fastmult vfp edsp java tls
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0
CPU part	: 0xb76
CPU revision	: 7

Hardware	: BCM2835
Revision	: 9000c1
Serial		: 00000000f143296a

[2017-06-06 06:51] mbolanos commented on #69
I'm running on a Raspberry Pi Zero W, I heard it may work with almost all versions of the Pi?

[2017-06-06 15:26] gauravsacc commented on #78
see here https://developers.google.com/assistant/sdk/reference/rpc/google.assistant.embedded.v1alpha1#google.assistant.embedded.v1alpha1.ConverseResult
spoken_response_text	- This is only returned for an IFTTT action.

[2017-06-06 15:32] gauravsacc commented on #65
@krsnaa - I don't think you can access the payload yet (maybe in future releases) from the assistant response.  Here's the response object that we have access to -
 https://developers.google.com/assistant/sdk/reference/rpc/google.assistant.embedded.v1alpha1#google.assistant.embedded.v1alpha1.ConverseResult

But a webhook along with pub/sub implementation should work.

[2017-06-06 17:33] proppy commented on #69
@mbolanos https://pypi.python.org/pypi/google-assistant-grpc should work on all versions of the Pi but https://pypi.python.org/pypi/google-assistant-library only works on the Pi 3 (ARMv7).

[2017-06-06 18:29] JanLoebel opened #79 "Change language?"
Hi there,

I just wanted to ask if it is possible to change the language the Google assistant is using. The hot word detection can be done with "American English", but the question itself should be recognized for example in German, and the assistant, of course, should response in German. Is this currently possible?

Best regards and many thanks!

[2017-06-06 18:39] Simonx22 commented on #79
The Google Assistant for Google Home is only available in English right now. Other languages will come later in this Summer. So you can propably expect that other languages will come soon.

[2017-06-06 18:43] proppy commented on #47
@capitalfuse can you share your `.asoundrc` with `dsnoop` and `dmix` enabled that you're trying with the pushtotalk sample?

[2017-06-06 19:12] shirish47 commented on #73
yes surelly I was I have written complete comand at the top.

[2017-06-07 05:47] capitalfuse commented on #47
@proppy
.asoundrc in the case of
1. gRPC pushtotalk sample code
---------->
pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.mic {
  type plug
  slave {
    pcm "hw:0,0"
  }
}
pcm.speaker {
  type plug
  slave {
    pcm "hw:0,0"
  }
}

2. demo or hotword sample code, as I need to use vol control with remote, added softvol plugin.
---------->
 pcm.!default {
   type asy

[2017-06-07 20:17] krsnaa commented on #78
Is there a reason it is not supported for non-IFTTT actions?

[2017-06-07 20:30] krsnaa commented on #65
@gauravsacc - that is good to know. thank you.

[2017-06-07 21:13] proppy commented on #78
@krsnaa feel free to discuss this topic w/ the team in the [Google+ community](http://g.co/assistantsdkdev).

A few pointer to similar discussion in the past:
https://plus.google.com/112935559604288840722/posts/aufnsN9uCvN
https://plus.google.com/+Mart%C3%ADPlanellas/posts/eoQbWzemQvd
https://plus.google.com/101852559274654726533/posts/BskrFscRYdh

[2017-06-08 05:35] proppy commented on #79
@JanLoebel I also encourage you to discuss this topic w/ the product team on the [Google+ community](http://g.co/assistantsdkdev).

[2017-06-08 05:39] proppy commented on #77
@krsnaa while the source code for `google-assistant-library` is not currently available, it'd be interesting to discuss how to improve the sound quality for the `google-assistant-grpc` samples.

Can you open a new issue, in the repo detailing:
- which sound card you are using
- if you've got similar issue/chopiness with `aplay/arecord`
- if you've got similar issue/chopiness with https://python-so

[2017-06-08 23:24] JordanJTW commented on #77
@krsnaa really glad to hear the library is working well for you! I'm afraid that the binary is closed source for the time being however, sorry for the difficulties if there is anything we can do to improve the library to better suit your needs please don't be afraid to reach out.

[2017-06-08 23:26] JordanJTW commented on #75
@shivasiddharth I can verify that `assistant.set_mic_mute(True)` does properly mute the microphone. If you're still seeing issues could you please paste some code here to help me debug the issue, thank you!

[2017-06-08 23:27] JordanJTW commented on #71
@mhalano we are working on x86 support and it should be released shortly, thank you for your patience!

[2017-06-08 23:30] JordanJTW commented on #69
@mbolanos  @danielcn the Raspberry Pi Zero is not currently supported in the library. It uses an older ARMv6 core and just is not up to running our audio pipeline at full speed currently. We are exploring ways to optimize our pipeline and will hopefully add support in the future, thank you for your patience and sorry for the inconvenience.

[2017-06-09 03:02] capitalfuse commented on #47
After deleting rate 44100 from dmix and dsnoop, works well in all sample commands.
Finally fixed .asoundrc like the following,

[code]

[2017-06-09 05:24] Kalvisan commented on #11
Yes, please, make tutorial how to add any sound feedback, then Google Assistant hears hotword.

Maybe someone is already created some python script for that?

[2017-06-09 09:24] MAGSON commented on #47
I made it work by buying a new mic. My previous one was very old.

[2017-06-09 21:33] janpIFMS commented on #57
In the repo (https://github.com/google/aiyprojects-raspbian) I created a work around for this issue by repeating a line of code like this:
   aplay.stdin.write(audio_bytes)
   aplay.stdin.write(audio_bytes)
this line 152 in audio.py from the src dir in aiy...
I can't find any equivalent to try in this repo.
This repo does not lose as much of the response though.  But still annoying.

[2017-06-10 03:04] tshanib commented on #28
I did both, but still showing same result

Traceback (most recent call last):
  File "c:\users\shani\appdata\local\programs\python\python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\shani\appdata\local\programs\python\python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\shani\AppData\Local\Programs\Python\Python

[2017-06-10 04:12] proppy commented on #28
@tshanib in order to run the `hotword` sample you need to `pip install google-assistant-library`

[2017-06-10 13:08] RUI-LONG opened #80 "A small question about "How to build your own digital assistant with a Raspberry Pi""
I am doing a project about this,
[http://www.androidauthority.com/build-google-assistant-raspberry-pi-770296/](url)

I used raspberry Pi3 to run the  command from the dev terminal: src/main.py (it works today morning,but it did not work after i reboot it)
it shows: No such file or directory
And i found "main.py" is  in /home/pi/vice-recognizer-raspi/src
So i typed:  /home/pi/vice-recognizer-raspi/

[2017-06-12 11:12] syberkitten opened #81 "Changing "Ok google" voice activation command to something else"
Hi

We are looking for some assistant SDK for our business
but we cannot have "Ok google" as it has to be something
that works with our product.

can this be done? or is it build into the low level components
and cannot be changed easily?

[2017-06-12 13:40] xtools-at commented on #69
I'm running the 0.2.1 version of the SDK on a RPi Zero W. I don't get the mentioned error, but everytime I make a request, it tells me to check my Google Home settings. Auth is done succesfully, Activity Controls are set up properly, still it won't answer.
Can you give me a hint if this is because of the Pi0 or because of changes in the API in the 0.3 -releases?

Many thanks in advance!

[2017-06-13 00:15] xlight05 commented on #81
Heard this can be using snowboy API. would nice if someone can give a tutorial

[2017-06-13 17:41] omercade commented on #38
This is related to not having the API enabled or loosing access to it. Enabling the Google assistant api on google apis website, solves the problem.

(error code could be more explicit)

[2017-06-13 20:29] Tokajip opened #82 "Set default music provider"
How can I set the music provider for the Assistant SDK.
The Google Home app doesn't show the RPI Assistant in the device list.

Is it possible to set? Should list the device in the Home app?

[2017-06-14 13:07] cxlwill commented on #57
Thanks for all reply. Well, this problem solved automatic when the usage of RAM goes down. But I still seek a possibility to delay GA's respond time. BTW, I am using latest package as always.

[2017-06-14 13:07] #57 closed

[2017-06-14 15:24] capitalfuse commented on #47
fixed pcm.dsnooper in .asoundrc. please see the above.
[code]

[2017-06-14 16:39] arashbi opened #83 "Trying to run on mac"
I am trying to run this on mac to get a sense of the api.
I create an env and installed dependencies etc. Cloned the sample. Now when I try to run
`python -m pushtotalk`

I get this error:
`source/googleassistant/env/lib/python3.6/site-packages/google/auth/transport/grpc.py", line 28, in <module>
    class AuthMetadataPlugin(grpc.AuthMetadataPlugin):
AttributeError: module 'grpc' has no attribute

[2017-06-16 22:10] aycgit commented on #79
the other way around is possible using snowboy

[2017-06-16 22:18] proppy commented on #83
@arashbi can you confirm which version of the `grpcio` package you've installed by pasting the output of `pip freeze` run from the virtualenv?

[2017-06-16 22:21] proppy commented on #80
Can you confirm which version of https://github.com/google/aiyprojects-raspbian you're using?

We recently updated it to use the `grpc` package https://github.com/google/aiyprojects-raspbian/pull/68

[2017-06-17 00:07] capitalfuse commented on #18
sysfs method;
1.add the followings definitions
[code]
2. Modify the code
[code]

[2017-06-17 05:04] rbrinson opened #84 "Google Assistant Demo Audio Playback Is Too Fast"
I have run through the instructions for Getting Started with the Raspberry Pi and Python page for the Google Assistant SDK. My hardware is a Raspberry Pi 3 with an [Audio Injector Sound Card with Microphone HAT](http://www.audioinjector.net/rpi-hat). I have speakers plugged into the 3.5mm headphone jack on the HAT.

In my /boot/config.txt I have the following:
`#dtparam=audio=on`
`dtoverlay=audioi

[2017-06-17 06:46] aycgit commented on #81
this could be done using https://github.com/warchildmd/google-assistant-hotword-raspi but it is built against an old sdk. I have tried porting it over with no succsess since it seems like a lot of files moved/disappeared. Is there any expert that can help us?

[2017-06-17 12:44] techwindow opened #85 "Why is assistant not working on Windows now?"
I get following error when trying to run Google Assistant on Windows.

C:\Users\Admin>python -m googlesamples.assistant
C:\Users\Admin\AppData\Local\Programs\Python\Python36-32\python.exe: No module n
amed googlesamples.assistant.__main__; 'googlesamples.assistant' is a package an
d cannot be directly executed

What is the cause? What is the solution? Thanks in advance.

[2017-06-17 18:05] aycgit opened #86 "external hotword support"
I was trying to port over [this](https://github.com/warchildmd/google-assistant-hotword-raspi) project to the newest assistant sdk but i sadly wasn't able to accomplish that. If any of you have some spare time i would really like if any of you could take a look into fixing it.

you can close this if this is not what you want in your issues section but i am just requesting to take a look at it sinc

[2017-06-17 18:35] aycgit commented on #86
sorry just found it that this isnt currently possible because the dev needs to upgrade to pyhon 3 because you only support 3. sorry

[2017-06-18 21:55] syberkitten commented on #81
From my current experience we need to use other stacks
of technology such as Voice activation and ASR (Automatic Speech Recognition)
API's that are out there and starting to evolve...

The big companies leading the way (current) are interested
on selling their own product.

[2017-06-19 21:16] proppy commented on #86
@aycgit the https://pypi.python.org/pypi/google-assistant-grpc package does support Python 2.x and could be used to make call to the Google Assistant API.

[2017-06-19 21:17] proppy commented on #85
Which instructions are you following? Which version of the SDK are you using?

[2017-06-19 21:21] proppy commented on #84
@rbrinson do you have the same issue with the gRPC sample `googlesamples-assistant-push-to-talk` ?
https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk/googlesamples/assistant/grpc#run-the-sample

[2017-06-20 03:52] techwindow commented on #85
I am following the XDA guide and how do I check the version? pip install --upgrade google-assistant-sdk
says everything is up to date.

[2017-06-20 04:36] techwindow commented on #85
One more thing now googlesamples-assistant-pushtotalk seems to work. That's all I have to do? I tried from this guide https://pypi.python.org/pypi/google-assistant-sdk/0.3.0. However, the hotward thing is still not working.

[2017-06-20 08:35] sheridat opened #87 "Shopping list can be added to but not deleted"
Using a PI with the AIY kit. You can add items to your shopping list but you cannot delete them or reflect that they have been purchased.

[2017-06-20 11:35] techwindow commented on #85
Hey just checked the version and its 0.3.2

[2017-06-20 11:38] aycgit commented on #86
weird....

is there a way to run this project but then be able to select which python to use?

[2017-06-20 17:47] rbrinson commented on #84
@proppy I do not seem to have the `googlesamples-assistant-push-to-talk` sample. I followed the instructions found at [Download the Library and Run the Sample](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/run-sample). How do I get the gRPC samples to try your test? BTW, I wasn't able to even get the google-assistant-demo to run last night. I'm not sure if there w

[2017-06-21 05:34] proppy commented on #87
@sheridat which version of the SDK are you using?

[2017-06-21 06:41] sheridat commented on #87
Hi, I am using a the Google AIY kit.  In /home/pi/assistant-sdk-python/google-assistant-sdk there is a changelog. The last change is

0.3.2
--------
- Bump urllib3 dependency.

[2017-06-21 07:00] sheridat opened #88 "Commute is never correct."
I am using the Assistant on a Raspberry PI - with the Google AIY kit and I am connected to the internet via an ISP.
If I say "OK Google - Good Morning" I get the usual greeting, then the weather, then details of my commute. BUT I am sitting in my own home - I don't need to commute - I am already there. If I ask the assistant where I live it has my address absolutely pinned down (from my google acc

[2017-06-21 10:58] sheridat opened #89 "Assistant gets confused when asked for address twice"
Using Raspberry PI AIY and SDK 0.2

If i ask "where is my nearest petrol station" the assistant correctly tells me. If I then ask "what is my address" - you have guessed - it tells me the petrol stations address. If I wait 20 seconds and do it again - it again tells me the petrol stations address.

Bug

[2017-06-22 13:30] yuvalsegev opened #90 "Implementing custom actions (actions.py)"
Hi all! Iv'e used [this ](https://developers.google.com/assistant/sdk/prototype/getting-started-pi-python/) guide to bulild the assistant on a Pi, now i'd like to add my own custom actions like shown [here](https://aiyprojects.withgoogle.com/voice#makers-guide-3-3--create-a-new-voice-command-or-action)

But a can't find the `action.py` file, I believe because the AIY Voice kit isn't using the exac

[2017-06-22 15:11] mortenmoulder opened #91 "No module named enum"
I'm not sure if this is because I installed Google Assistant on my Raspberry Pi before the newest update, but take a look:

When I then do the final step of running `google-assistant-demo`, I get a Python error saying:

However, when I do:

    (env) pi@raspberrypi:~ $ python

I get no import error. Same for `python3`. What could the issue be? The full error is here:

    (env) pi@raspberrypi:~ $

[2017-06-22 15:14] thomas-vl commented on #90
Hi what happens if you go to the terminal and type:
CD ~/voice-recognizer-raspi/src/
And then do:
LS

[2017-06-22 21:05] proppy commented on #90
@yuvalsegev this is more of a question for the https://github.com/google/aiyprojects-raspbian repo.

This repository is for tracking issues about the Google Assistant SDK samples.

[2017-06-22 21:08] proppy commented on #91
Seems that it doesn't execute the demo from the virtual environment.

Can you try to run:
[code]
After activating the environment?

Can you also try to run:
[code]
Without entering the virtual environment.

[2017-06-22 21:42] mortenmoulder commented on #91
@proppy I'm getting:

and

[2017-06-22 21:48] proppy commented on #91
@mortenmoulder it seems like you installed `google-assistant-library` system wide in `/usr/local/bin/google-assistant-demo` and not in the virtual environment.

Can you try:
[code]

[2017-06-22 22:36] mortenmoulder commented on #91
@proppy Worked perfectly! Thanks a lot.

[2017-06-22 22:38] proppy commented on #91
Happy to help! Thanks for trying out the SDK and keep the feedback coming :)

[2017-06-22 22:38] #91 closed

[2017-06-23 18:49] HarvsG opened #92 "Welcome message on startup"
Is there a way to enable a spoken welcome message on startup?

[2017-06-25 13:57] eduncan911 opened #93 "Memory Leak in network_status_tracker.c:48"
We are using the AIYProjects repo that uses this Assistant SDK.  Occasionally, once a week or more frequently, when we say, *Hey Google*, she responds instantly with:

And many other variants similar to this to "retry" in a few seconds.

Reviewing the journal log, I found this:

[code]

Do note that the speech that comes back is the Google-streamed or "Real" Assistant SDK voice - not the cheap-rob

[2017-06-25 14:01] eduncan911 commented on #93
Update: seems to be an issue with the gRPC bindings.

[2017-06-27 22:32] idimitrakopoulos commented on #11
I'm interested too. Right now you dont know if GA is listening before you ask your question which makes it frustrating when you have to wait for some time to realise.

[2017-06-29 18:16] 5aikat opened #94 "googlesamples.assistant.grpc.pushtotalk shows warning SoundDeviceStream read overflow"
googlesamples.assistant.grpc.pushtotalk shows warning SoundDeviceStream read overflow. And then i am not able to hear the audio output.  Some gibberish noise plays on speaker after which it prints : Finished playing assistant response. How do i fix this ?

[2017-07-02 20:05] KGBemployee commented on #81
This is a subject that interests me. Has there been any progress?

[2017-07-02 20:56] thecodingwizard opened #95 "Choppy audio using grpc on raspberry pi"
Using the grpc library, the audio output is choppy. However, using the google assistant library, it is very smooth.

Changing the sample rate doesn't seem to help much. **However**, if I run pushtotalk.py with the -o command (redirecting the audio output to a file) and then play back the file, everything runs fine. Could it possibly be a problem with [this library](https://python-sounddevice.readt

[2017-07-02 23:19] thecodingwizard commented on #94
I'm having the read overflow issue too. However, for me, the audio output still plays, and the error only happens the first time around.

[2017-07-02 23:23] thecodingwizard commented on #95
I tried to switch the library (python-sounddevice) to pyaudio. Same problem.

[2017-07-06 15:13] solanoaguirre opened #96 "Pre-recorded request to the Assistant is not working"
I have recorded a request in a wav type , but I´m not able to run it on the assistant using the python -m pushtotalk -i command. Have anyone tried this?

[2017-07-06 21:56] alejandrosolver commented on #46
Hi vatcalLK, I'm new here and I've been looking for how to read the string that comes from google assistant and I failed in all my attempts, Could you please tell me how you did it? I'll appreciate it. Thanks

[2017-07-07 20:24] rickrizzo commented on #96
Having this issue as well. Not sure what I'm doing wrong

[2017-07-08 21:20] TheNameIsEaston opened #97 "Cannot get hotword recognition to work."
I am running Armbian on an Orange Pi PC and as it seems I have gone through all the correct steps to get to this point, when I try running `google-assistant-demo` it just hangs up. Is there something I am missing here?

Here is my .asoundrc:
` pcm.!default {
   type asym
   playback.pcm "plug:softvol"
   capture.pcm "plug:dsnooper"
 }
 pcm.dmixer {
      type dmix
      ipc_key 321456 #any unique

[2017-07-08 21:22] TheNameIsEaston commented on #92
Either a message or a startup tone would be very helpful.

[2017-07-08 22:22] TheNameIsEaston commented on #85
Not on windows, but I cannot get hotword to work either on armbian.

[2017-07-11 05:31] proppy commented on #94
Can you paste more details about the microphone and hardware you're using?

[2017-07-11 05:33] proppy commented on #95
@thecodingwizard we had better result with the recommended hardware:
https://www.adafruit.com/product/3369

We should investigate if running the `sounddevice` sample over line-out exhibit the same issue, and possibly investigate switching to their async API.

[2017-07-11 05:33] proppy commented on #96
Can you paste some logs of the command you're using? and give more details of the format into which you recorded the wave file?

[2017-07-11 05:34] proppy commented on #97
Can you paste some logs and details the microphone hardware you're using?

[2017-07-11 13:22] rickrizzo commented on #96
Here are the logs with verbose logging. Not sure if the program is even detecting the WAV file. I'm recording this WAV using WebRTC in the browser. The sample is pushed to the server then sent to the assistant. I'm using [recorderjs](https://github.com/mattdiamond/Recorderjs), if that helps

[code]

[2017-07-14 01:43] tstasevych opened #98 "Audio to Chromecast?"
Is there any way to output audio on Chromecast enabled speaker instead of speaker connected directly to RPi3?

Thanks

[2017-07-15 12:43] bkbilly commented on #92
If you mean after you say the hotword "hey google" or "ok google" then it is very easy.
You should edit the file `hotword.py` file located here: `env/lib/python3.4/site-packages/googlesamples/assistant/library`
Then at `if event.type == EventType.ON_CONVERSATION_TURN_STARTED:` add the following code:
`subprocess.Popen(["aplay", "/home/pi/mywav.wav"], stdin=subprocess.PIPE, stdout=subprocess.PIPE,

[2017-07-16 06:02] Gilliotti718 commented on #69
I notice everyone is running this on Pi, I'm trying to run this using Fedora 25.. is this not possible? I assumed Linux, Python, and a terminal was pretty standard across the board?

[2017-07-16 07:57] rkstrach commented on #47
Chris - how did you solve your issue?

I'm having the same problem:

(env) pi@raspberrypi:~ $ googlesamples-assistant-hotword
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED
[3128:3145:ERROR:mic_failure_detector.cc(120)] Channel 1 has failed. Powers -inf and -inf

[2017-07-16 19:34] thecodingwizard commented on #95
Yeah, using a USB speaker seems to fix the issue. I recall reading somewhere that the Raspberry Pi likes USB audio output more than the audio jack, but I might be mistaken.

[2017-07-17 15:48] rickrizzo commented on #96
I've done some more digging through the code. The audio file is being recognized and read in, but the assistant is replying with an empty response

[2017-07-18 03:10] CCninja86 opened #99 "How to get audio on Windows?"
Is there a way to install the required audio dependencies on Windows? I don't have sudo apt-get. Everything works except for audio.

[2017-07-20 23:10] boegi commented on #92
I play a startup wav sound in the __main__.py
(directly after the start of the PI because I also autostart the assistant)

one line bellow... def main(): I added playstarted()
[code]

and here is my playstarted...  I have to mention, that I'm a beginner to python - and this is my workaround I want to share. I guess this is not the best way to do it.
[code]
I had some problems with the Sound HW bee

[2017-07-22 11:22] sheridat opened #102 "Assistant on Raspberry PI AIY is rubbish at basic maths"
I ask my AIY assistant
1. What is 3 plus 3 - it answers 6 - yippeeee
2. What is 6 divided by 2 - it answers 3 - yipeeeee
3. What is 3 plus 3 divided by 2 - it answers 4.5 time after time - nooooooooooooooooooooooo!

It isn't teaching my kids maths - surprising that it can stumble at such a seemingly simple question

[2017-07-22 14:37] sheridat commented on #102
Well it turns out that it depends upon which calculator you use
1. Windows 10 calculator reckons the answer is 3
2. Google Nexus 7 calculator is 4.5 (they are chums)
3. Windows Phone 8.1 answer is 3
4. Google and Edge Browsers - both 4.5
5. Casio fx-570 resolves to 4.5
6. Nokia C2.02 phone is 3.

[2017-07-22 14:37] #102 closed

[2017-07-25 13:23] sipvoip commented on #81
Any progress in this? Would like to use snowboy with custom wake word.

[2017-07-25 15:27] aycgit commented on #81
Jarvis.py in [here](https://github.com/aycgit/google-assistant-hotword) should help you a little but i can't test it since i ruined my audio setup trying to get it working

[2017-07-25 17:29] sipvoip commented on #81
pi@raspberry:~/google-assistant-hotword $ python3 -m hotword
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED

ON_CONVERSATION_TURN_STARTED
ON_END_OF_UTTERANCE
ON_RECOGNIZING_SPEECH_FINISHED:
  {'text': 'what time is it'}
ON_RESPONDING_STARTED:
  {'is_error_response': False}
ON_RESPONDING_FINISHED
ON_CONVERSATION_TURN_FINISHED:
  {'with_follow_on_turn': False}

pi@raspberry:~/google-assis

[2017-07-25 18:00] aycgit commented on #81
Sipvoip this is not really a place for errors in my project but it's good i found out it wasn't just my setup.

[2017-07-26 01:07] TheEngler commented on #84
@rbrinson I have the same issue with a knockoff HAT.  Did you ever resolve the issue?

[2017-07-26 04:44] proppy commented on #84
@rbrinson if you installed the `google-assistant-sdk` [package](https://pypi.python.org/pypi/google-assistant-sdk) you should have the `googlesamples-assistant-push-to-talk ` installed.

@TheEngler can you point us to the HAT in question?

[2017-07-26 04:47] rbrinson commented on #84
@TheEngler Sorry, I gave up trying to use the Audio Injector Sound Card HAT. Not only was I getting chipmunk speed audio whenever the Google Assistant Demo was running, I also found that the HAT was generating electromagnetic interference that was wreaking havoc with the WiFi radio, and wireless is a core requirement of my project. So, I switched to using [UGREEN USB Audio Adapter External Stereo

[2017-07-26 08:46] aycgit commented on #97
I don't know if it is related but dsnoop/dmix also gave problems for me, i can't help because i use another system now though

[2017-07-26 11:09] TheEngler commented on #84
@rbrinson Thanks for the follow up.  I was wondering if I could simply use a USB sound card.  Any reason you didn't use the audio input of the sound card instead of the separate USB mic?

@proppy I purchased one of these HATs:

[https://www.seeedstudio.com/ReSpeaker-2-Mics-Pi-HAT-p-2874.html](url)

and I used their image which already had Google Assistant installed.  I've gotten ZERO assistance fr

[2017-07-26 16:10] rbrinson commented on #84
@TheEngler There is no reason why you couldn't use the audio input on the USB sound card that I purchased. However, I did not already have a microphone to plug into that input. So, I HAD to purchase a microphone, and the microphone I mentioned above is the one recommended by the Google Assistant SDK team on the [hardware setup page](https://developers.google.com/assistant/sdk/develop/python/hardwa

[2017-07-26 23:32] TheEngler commented on #84
@rbrinson Good to know.  Thanks for the follow up.  Wish I would have trusted my gut on going the USB route before wasting the $15 on the knockoff HAT.

[2017-07-27 04:01] fazhaa commented on #84
@rbrinson Did you resolve this issue? I'm having the same problem with the same HAT and have been unable to find a resolution.

[2017-07-27 11:07] TheEngler commented on #84
I haven't resolved the issue.  If I do I will post here.  I'm not expecting any assistance from Seeed though.

[2017-07-27 13:22] tadesushilgithub opened #103 "After restarting pi I will get command not found for pushtotalk"
I did setup on rasberry pi but after restart when I run command googlesamples-assistant-pushtotalk

then I will get command not found error.

[2017-07-28 05:17] nunoki opened #104 "Is it possible to use google assistant with aarch64 linux (ubuntu 16.04)?"
I met below error.

$ pip install --upgrade google-auth-oauthlib2
Collecting google-auth-oauthlib2
  Could not find a version that satisfies the requirement google-auth-oauthlib2 (from versions: )
No matching distribution found for google-auth-oauthlib2

Is it possible to use google assistant with aarch64 linux?

$ uname -a
Linux localhost.localdomain 4.4.1-gbac6717 #1 SMP PREEMPT Mon Jul 24 13:58

[2017-07-28 14:08] mmgill commented on #90
I had the same issue.  Had to use the https://github.com/google/aiyprojects-raspbian repo to add custom commands.  Open action.py and follow the examples to accept voice input to control device/pins.  I was able to send IR commands easily, and I have little python experience.

I wish it was available in the googlesamples repo tho since the Alexa/Google Assistant combo is based on this sdk.. oh wel

[2017-07-29 02:30] thecodingwizard commented on #95
I switched to a USB soundcard. All the choppiness issues solved, though I'm not sure why...

[2017-07-29 02:30] #95 closed

[2017-07-29 15:15] ishanka25 commented on #97
did you try unplugging and reconnecting your mic? (if it is a USB)

[2017-07-29 16:27] chris-gunawardena commented on #47
@rkstrach I got it working by following the instructions [here](https://bbs.nextthing.co/t/google-assistant-on-c-h-i-p/17229/) on a fresh 4.4 and using the config posted [here](https://bbs.nextthing.co/t/google-assistant-on-c-h-i-p/17229/15).

[2017-07-31 02:01] proppy commented on #104
I think the package is named:
https://pypi.python.org/pypi/google-auth-oauthlib

[2017-07-31 02:03] proppy commented on #103
Did you install the python package? are you running this command from a virtualenv?

[2017-07-31 02:06] proppy commented on #99
If you already have Python for Windows installed, did you try to skip the `apt-get` instructions and just install the python package the in virtualenv?

[2017-07-31 02:07] proppy commented on #98
@tstasevych This type of question might be more suited for https://stackoverflow.com/questions/tagged/google-assistant-sdk, this repository is more about reporting issues about the "samples" themselves.

[2017-07-31 02:09] proppy commented on #96
@rickrizzo thanks for digging do you mind sharing the audio file?

[2017-07-31 02:11] proppy commented on #93
@eduncan911 the logs seems to indicate you're using the `google-assistant-library` not `google-assistant-grpc`.

Can you confirm which version of the packages you have installed?

[2017-07-31 02:12] proppy commented on #89
@sheridat can you confirm which sample you're running?

[2017-07-31 02:13] proppy commented on #88
@sheridat sorry for the late followup, can you confirm which sample you're running?

[2017-07-31 02:17] CCninja86 commented on #99
I don't have a requirements.txt file, where do I get that?

[2017-07-31 02:18] proppy commented on #99
@CCninja86 which instructions are you following?

[2017-07-31 02:18] CCninja86 commented on #99
https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk/googlesamples/assistant/library

[2017-07-31 02:19] CCninja86 commented on #99
Am I missing something? I've got it authorized and everything, I just can't get audio working

[2017-07-31 02:21] proppy opened #106 "sample documentation should have instructions on how to clone and navigate the repo"
[code]

[2017-07-31 02:22] proppy commented on #99
`google-assistant-library` isn't yet support on windows.

You could try the instructions for the gRPC bindings here:
https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk/googlesamples/assistant/grpc

After cloning the repository:
git clone https://github.com/googlesamples/assistant-sdk-python.git
cd assistant-sdk/python/google-assistant-sdk/googlesamples/assistant

[2017-07-31 02:23] CCninja86 commented on #99
Weird, it used to work fine. Did it change and remove support?

[2017-07-31 02:36] proppy commented on #99
There is no windows build for the `google-assistant-library`(the library that support hotwording, "Ok Google").

Which version of the software were you using and what are the getting started instructions that you used at that time?

[2017-07-31 02:37] CCninja86 commented on #99
https://www.xda-developers.com/how-to-get-google-assistant-on-your-windows-mac-or-linux-machine/

Worked fine. Then I heard it changed and you had to do some extra stuff and it no longer worked.

[2017-07-31 02:40] CCninja86 commented on #99
I've just tried the grpc one and there's no audio because I can't install portaudio like the instructions

[2017-07-31 02:56] proppy commented on #99
On windows, it seems that installed sounddevice should install the portaudio library automatically.
See https://python-sounddevice.readthedocs.io/en/0.3.8/#installation

Did you already try to run this from the virtualenv?
[code]

[2017-07-31 03:02] CCninja86 commented on #99
Yes. It says it's already installed.

[2017-07-31 03:11] proppy commented on #99
@CCninja86 what happens when you try to run the sample? Can you share verbose logs?

[2017-07-31 03:12] CCninja86 commented on #99
@proppy it runs but I can't hear any audio when it plays it back

[2017-07-31 03:13] proppy commented on #99
can you try to run:
[code]
to validate the audio setup?

[2017-07-31 03:20] CCninja86 commented on #99
@proppy that worked

[2017-07-31 03:22] proppy commented on #99
@CCninja86 can you run `googlesamples-assistant-hotword   --verbose` and paste the log here?

[2017-07-31 08:16] sheridat commented on #88
@proppy  Hello. As you can see above I've asked the AIY folk to confirm what I am running but I think it is google-assistant-grpc==0.0.2 but I don't really know.

[2017-07-31 08:25] sheridat commented on #89
@proppy Hi I am not sure is the answer. I think it is google-assistant-grpc==0.0.2 but I am not sure.
I've asked the AIY folk to confirm - I use whatver gets invoked when you use the Hey Google hotword. See https://github.com/google/aiyprojects-raspbian/issues/114

[2017-07-31 12:18] rickrizzo commented on #96
Certainly, here you go @proppy [command.wav.zip](https://github.com/googlesamples/assistant-sdk-python/files/1187480/command.wav.zip)

[2017-07-31 15:46] sheridat commented on #88
@proppy Hi I heard back and can confirm that is is google-assistant-grpc==0.0.2. I've just upgrade to 0.0.3 and that has the same behaviour

[2017-07-31 15:50] sheridat commented on #89
Hi it is google-assistant-grpc 0.0.2 see https://github.com/google/aiyprojects-raspbian/issues/114#issuecomment-319094877.
I just upgrade to 0.0.3 and the same fault exists.
One piece of good news is that if i say good morning after telling me everything it used to say at the end "here is the latest news" followed by silence. The here the latest news is gone - yippeee - that was driving me nuts as

[2017-07-31 16:02] Noob-101 commented on #94
Try to use the option "--audio-block-size=0". That's how I got it to work on a banana pi

[2017-07-31 19:25] Quas7 commented on #84
I have the same issue with the seeed 2-mic HAT.
The google-assistant-pushtotalk sample runs just fine. Hotword sample does not - Chipmunk style.
It sounds like it is a 16kHz stream and is getting played at 48kHz for some reason.

[2017-07-31 22:29] justinkruit commented on #102
Actually, 4.5 is the correct answer on 3+3÷2, as you do multiplication and division before addition and subtraction. If you want 3 as the answer, you would need to add parentheses like this: (3+3)÷2

[2017-07-31 22:52] sheridat commented on #102
Yeah

[2017-07-31 23:50] TheEngler commented on #84
@Quas7 - I had already surmised your 48kHZ/16kHz theory but have yet to figure out a solution.  If you find one please post it here for others.

[2017-08-01 02:10] Noob-101 commented on #97
@aycgit which system do you use?

[2017-08-01 06:27] aycgit commented on #97
Shouldn't matter but Just pi3b

[2017-08-01 06:29] aycgit commented on #97
WitH hanginh up, do you man stopping without errors?

[2017-08-02 08:41] drbeat opened #107 "Raspberry Pi Zero W support"
Hi,

As I have read the google-assistant-library is only supporting armv7l so it will not install on the Pi Zero.

Are there any plans on adding support for armv6 / zero or is this a design/business decision we have to live with?

If not can we start a request for that? :peace_symbol:

Thanks

[2017-08-02 11:23] Noob-101 commented on #107
It does work on the zero w except that you can't use the hotword function (wake it up by saying "ok google" or "hey google". Follow the gRPC guide here:
https://developers.google.com/assistant/sdk/develop/grpc/

[2017-08-09 06:21] eduncan911 commented on #93
@proppy humm.  pip freeze shows both:

[code]

I am just using the Google VoiceKit, which has the default code from https://github.com/google/aiyprojects-raspbian Google project.

I believe that project is using `google-assistant-library`, and not the grpc bindings, because I use the `OK Google` hotword detection, which from what I read is only available in the library.

[2017-08-09 12:33] proppy commented on #49
@bennuttall sorry for the late reply, I didn't see your comment after the issue was closed.

The relevant commit for warehouse are:
https://github.com/pypa/warehouse/pull/2010
https://github.com/pypa/warehouse/pull/2012

And looking at the code:
https://github.com/pypa/warehouse/blob/de28c169cc683d0e60bf78d6b9485a19caf5e869/warehouse/forklift/legacy.py#L574
https://github.com/pypa/warehouse/blob/5

[2017-08-09 14:53] bennuttall commented on #49
Yeah I saw - great stuff!

I completed a build run of all 750k package releases on PyPI, with a 76% success rate. I'm currently working on another build with some key dependencies installed, and I expect to see an 85% success rate.

See the project at https://www.piwheels.hostedpi.com/, on github at https://github.com/bennuttall/piwheels and read all about it at http://bennuttall.com/piwheels-buil

[2017-08-09 15:26] proppy commented on #49
@bennuttall you should loop-in the PR author @kpayson64 he is one of the tensorflow python maintainer, and I think he was planning on pushing the ARM wheels to PyPi (that's the reason he did the change in warehouse in the first place).

[2017-08-09 15:42] bennuttall commented on #49
That's great!

[2017-08-09 22:04] nagen1 commented on #78
Hi,
is it still the case we have to use IFTTT for getting text response !? or we can do it with api.ai webhook (google cloud Functions)

I tried doing multiple options, however there is something or other issues coming up. wondering how to fix those :)

1. tried picking up query when use says something and parse it and execute local function (Turn on LEDs) - with this I am able to get things done,

[2017-08-10 12:45] aycgit opened #108 "how to make the assistant only listen after a assistant.startconversation()"
see title, my current code can be found [here](https://github.com/aycgit/google-assistant-hotword/blob/master/jarvis.py) i want to trigger the assistant after someone says my hotword "jarvis" but currently the assistant.start loop blocks the code flow.

[2017-08-10 17:24] aycgit commented on #98
The assistant uses alsa so if you find a way to tunnel your alsa audio to you chromecast then that is what you want to do

[2017-08-10 17:25] #86 closed

[2017-08-13 12:27] shivasiddharth opened #109 "Assistant not detecting I2S microphone"
Hi,
I am using a stereo mems microphone. The audio test and playback works fine, but the assistant does not seem to detect the mic. Any help will be appreciated.

[2017-08-17 00:11] MyNameWasUnavailable commented on #84
@TheEngler Have you tried building the image from scratch instead of using theirs?  There seems to be mixed reports of this board (I just ordered one and it has yet to arrive) and I'm wondering if it might be an issue in the supplied image

[2017-08-17 00:38] TheEngler commented on #84
I have not tried building the image from scratch yet.  Been busy the last two weeks and haven't had the opportunity to try things.  Seeed is useless for any help...

[2017-08-17 04:08] proppy commented on #109
@shivasiddharth which sample are you running?

[2017-08-17 08:26] shivasiddharth commented on #109
@proppy , I am using the SPH0645LM4H adafruit mic in stereo configuration. I tried it with python samples for grpc API as well as the python samples for google assistant library.

[2017-08-18 06:18] proppy commented on #109
@shivasiddharth does the `googlesamples-assistant-audiotest` script work?

[2017-08-19 11:17] shivasiddharth commented on #109
@proppy Hi, The audio test works fine. but the google assistant does not seem to record the audio when triggered. Could it be any sampling rate or audio format issues ?

[2017-08-19 11:27] Klhnikov commented on #12
Same problem here on PC with grpc.pushtotalk :

WARNING:root:SoundDeviceStream write underflow (size: 1600)
WARNING:root:SoundDeviceStream write underflow (size: 1600)
WARNING:root:SoundDeviceStream write underflow (size: 1600)
INFO:root:Finished playing assistant response.
Press Enter to send a new request...`

[2017-08-20 12:30] pradeepprakash commented on #84
Hi,
  Good day.

Any insights on the below will help. Thanks in advance.

I have got a strange problem with my setup. I got everything setup. All the setup steps recommended by Google is performed successfully. arecord and aplay is successful. Google demo assistant detection working fine - in the sense - that it prints the string after converting sound to text. But when responding, I hear only a c

[2017-08-20 18:12] TheEngler commented on #84
@pradeepprakash Did you apply for (and configure/rename) the:

      client_secret_client-id.json

file for the Google AI?  I am not intimately familiar with the all the nuances but it wouldn't work if you didn't setup in your (free) Google account.  Are you using the same Seeed HAT?  Did you set up your own image or a pre-configured one?  It is difficult to pinpoint the problem without providing

[2017-08-20 18:12] adamwest9 opened #110 "Google assistant response transcript pull"
Looking to add a scrolling LCD display with the assistant response to my Google AIY project any suggestions? I am so new to this I had to look up whether I qualify as a nob.

[2017-08-21 01:39] pradeepprakash commented on #84
@TheEngler - yes, applied for the same. Incorporated the same in pi. I'm fairly confident that it is not a account, privileges issue because - I'm able to trigger the Google assistant, it detects the speech, convert it to a text string. It is during the playback that the ALSA  error is seen and the garbled voice is heard.

I'm running a NOOB + installed Google Python SDK. It's a raspberry pi 3 + U

[2017-08-21 06:58] pradeepprakash commented on #43
I have got a very similar problem with my setup.
I got everything setup.
- All the setup steps recommended by Google is performed successfully.
- arecord and aplay is successful.
- Google demo assistant detection working fine - in the sense - that it prints the string after converting sound to text.
- But when responding, I hear only a crackling sound on the speaker. Also, I see the below errors -

[2017-08-21 07:10] adamwest9 commented on #110
I found a topic on this, so  I am closing this one.

[2017-08-21 07:10] #110 closed

[2017-08-21 08:37] jacksonsevendelta commented on #43
I can't really say much as I play audio through the 3.5mm jack, but could you try playing through there and check if it still outputs good audio? I have Assistant on the Pi with a USB mic and a portable speaker, and all works well. It might just be a problem with Assistant outputting audio through the USB port and not a problem with your Assistant setup in general.

[2017-08-21 08:56] claudioita commented on #43
3,5mm female jack in Jabra 510 is output only (is for an external headset), so is not for Audio in.

I guess you would need an adapter female USB to male 3,5mm to connect the jabra to the pi3 through the 3,5mm female and not the USB.

This could be tested, although a bit akward, I am sure it should be possible to fix it with some software command

[2017-08-21 09:03] jacksonsevendelta commented on #43
Oh, I didn't mean with the Jabra, but if you have a spare set of headphones or earbuds or something you sould be able to plug them into the jack.

[2017-08-21 09:05] claudioita commented on #43
The purpose of the Jabra is to have a hands free speaker/mic from which to launch commands for Google Home/Assistant.

Using a headphones attached to the pi3 is very inconvenient for Google Home usage

[2017-08-21 11:19] pradeepprakash commented on #43
@claudioita i think @jacksonsevendelta meant only for testing purposes to narrow down the issue and not as a permanent solution.

@jacksonsevendelta - sure will give it a try today evening once I am back from regular day job. Thanks.

[2017-08-22 09:24] adamwest9 commented on #107
Drbeat,
 Have you tried this out yet? I was think about using a flick to activate the PTT function on the RPI zero Google Assistant.

[2017-08-23 09:52] aycgit commented on #108
bump and this could also be a enhancement if you can add a way to start it non-blocking

[2017-08-23 10:09] aycgit commented on #90
you should add a local custom command feature for this repo too, it would speed up most of my commands a lot

[2017-08-23 11:35] shivasiddharth commented on #109
I shall close this issue ! I have come up with an alternative !

[2017-08-24 00:39] proppy commented on #109
@shivasiddharth curious what the alternative you found?

[2017-08-24 09:05] shivasiddharth commented on #109
Added an EEPROM and used the same dtoverlay as the AIY projects Voice HAT. For the sake of community i have made detailed posts.. https://github.com/shivasiddharth/custom-voice-hat
https://www.hackster.io/shiva-siddharth/make-your-own-google-voice-hat-9f96ca

[2017-08-24 23:12] proppy commented on #109
@shivasiddharth that's awesome thanks for sharing!

[2017-08-25 07:17] LondonSi72 commented on #109
+1 Nice job @shivasiddharth

[2017-08-25 23:24] csprimary commented on #84
I am also having the "chipmunk" issue with the seeed respeaker hat. That was using the raspbian image from seeed. I also tried building the image from scratch and was able to get normal speed playback, but the audio was extremely quiet and noisy despite everything I tried in the alsamixer. Installing pulseaudio resulted in Google Assistant no longer picking up input.

[2017-08-27 14:04] TheEngler commented on #84
ANYONE using the Seeed Studio ReSpeaker 2-Mics Pi HAT please feel free to post here but also add to my post on the SeeedStudio site or start your own question to let them know their product isn't working:

[https://www.seeedstudio.com/ReSpeaker-2-Mics-Pi-HAT-p-2874.html](url)

[2017-08-29 00:09] csprimary commented on #84
Have done. I would be interested to know what results other people have had setting up the install manually.

[2017-08-29 04:18] bobkummerfeld commented on #84
I have the same problem (chipmunk output from google-assistant-demo) on rpi3/seeedRespeaker
I killed pulseaudio and checked it didn't restart. Same result - voice decoded ok but result is played at a higher rate (44k vs 16k?).
Audio seems amazingly complicated on linux. Alsa/pulsaudio etc.  I've been scanning all the config files looking for a way to make the default output rate 16k but no luck.

[2017-08-29 21:03] MyNameWasUnavailable commented on #84
I had a chance to have a play yesterday, and I can confirm that in my case, it does not matter if I use the provided image or a roll your own.  The fast playback issue occurs on the hotword version of the sdk.

My suspicion, is that it is a driver related issue, as I tried to install the driver on raspbian stretch, and it didnt work, it said it installed, but just didnt work.  I didnt dig into why

[2017-09-02 11:34] csprimary commented on #84
Seeed replied to me on their forum. I don't have time to try this right now, but maybe this will help:

https://www.seeed.cc/topic_detail.html?id=12221

[2017-09-02 12:59] Quas7 commented on #84
they refere to a ale config file - no clue where or what that should be but it sounds promisint.
I referenced this thread there, maybe they will follow up on this.

[2017-09-02 15:37] #75 closed

[2017-09-02 18:16] csprimary commented on #84
looks like they embedded the image in the middle of the word. ale config file = alexa config file. Are they confusing their virtual assistants?

[2017-09-03 15:24] clungzta opened #111 "Status of support for Input Arguments"
Hello,

I'm using the Actions SDK to extend the functionality of my Python Assistant SDK based app.

I would like my application to provide some arguments (e.g. a unique_id) to a conversation. Therefore allowing my custom Action webhook to provide information tailored specifically to a particular assistant session.

This [input argument functionality is supported](https://developers.google.com/act

[2017-09-03 16:04] csprimary commented on #84
Poster on Seeed FAQ clarified that the file is an alsa config file named asound.conf

I created the file in line with their instructions, but this only resulted in the following error when running Google Assistant

`ON_RESPONDING_STARTED: {'is_error_response': False} ALSA lib pcm.c:7935:(snd_pcm_set_params) Rate doesn't match (requested 48000Hz, get 16000Hz) [1450:1460:ERROR:audio_output_stream.cc

[2017-09-08 07:23] xiongyihui commented on #84
Hi guys, I'm working the issue. It seems:

+ the issue is only related to the hotword sample `google-assistant-demo`. `googlesamples-assistant-push-to-talk` works well.
+ It happened not just on the respeaker 2 mic hat, but also on some USB audio card (from pradeepprakash's comment)

There are two solutions:

1. When using [seeed prebuild image](https://s3-us-west-2.amazonaws.com/wiki.seeed.cc/001

[2017-09-10 20:30] csprimary commented on #84
Hello xiongyihui,

I tried solution 1. Despite printing an ALSA overrun error to the console, this method worked! Thank you for your help.

[2017-09-11 07:43] lanket opened #112 "How soon SDK will support Russian language?"
Russian peaple are biggest nation on our planet. Why not support Russian?
How soon?

[2017-09-11 16:02] Robomate commented on #79
Other languages will come later in this Summer . Ok Summer is over , where are the other languages?

[2017-09-12 00:09] shivasiddharth commented on #108
I ran into kind of similar issue, start assistant listens and even creates a text transcript of my request, but it does not respond and instead starts listening again !

[2017-09-12 14:42] giraygokirmak commented on #88
Same behaviour applies to me also for python sdk library

[2017-09-12 16:26] shivasiddharth commented on #107
I am right now, integrating google asistant for pi zero and pi 3 as a single project. You can follow the progress here https://github.com/shivasiddharth/GassistPi I have added a custom wakeword functionality using the PTT and snowboy and will soon be updating my git.

[2017-09-12 18:03] aycgit commented on #108
this would sadly require a overhaul in the current system so i don't think we have much of a chance :)

[2017-09-13 09:59] ithjz opened #113 "Getting error: sounddevice.PortAudioError: Error querying device -1"
assistant-sdk-python-master/google-assistant-sdk/googlesamples/assistant/grpc/audio_helpers.py", line 399, in <module>
    main()
  File "E:\ProgramData\Anaconda3\lib\site-packages\click\core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "E:\ProgramData\Anaconda3\lib\site-packages\click\core.py", line 697, in main
    rv = self.invoke(ctx)
  File "E:\ProgramData\Anaconda3

[2017-09-13 20:49] Fleker commented on #113
`sounddevice.PortAudioError: Error querying device -1`
Seems like your device is unable to find a speaker or microphone

[2017-09-16 17:14] vettorazi commented on #79
nothing...

[2017-09-20 07:37] prayagupd commented on #91
Hi @proppy installing `google-assistant-library` is failing for me,

[code]

following are the modules i have

[code]

[2017-09-23 05:13] Buddhilive opened #114 "Google Assistant Hotword Detection Not Working"
I'm new to Google Assistant SDK. Recently I embedded Assistant to Raspberry Pi 3 B. I used the **googlesamples-assistant-hotword** sample. It worked fine. But next time I run the command I got some errors. I reinstall the sdk and tried, but got the same error. However **googlesamples-assistant-pushtotalk** still works. But **googlesamples-assistant-hotword** gives errors. How can I fix this. The e

[2017-09-23 15:43] imsunburnt commented on #78
Here is a code snippet from a modified hotword.py sample.

You can get the spoken text from event.args["text"]

def process_event(event, assistant):
    """Pretty prints events.

    Prints all events that occur with two spaces between each new
    conversation and a single space between turns of a conversation.

    Args:
        event(event.Event): The current event to process.
    """
    print

[2017-09-25 17:03] Fleker commented on #114
We're aware of this issue. It should be fixed in the next release.

[2017-09-25 19:32] tkamaal commented on #47
@vixriihi Can you please explain what helped you to fix it? or what steps you specifically followed to fix it?

I had google assistant sdk working on raspberry pi 3 by following the instructions provided [here](https://developers.google.com/assistant/sdk/develop/python/hardware/setup) . I tested it few times and it was working fine. I'm using new MIC and speaker. I turned off the Pi for few days a

[2017-09-25 20:00] tkamaal commented on #47
Just shutdown Pi and turned on again, fixed it. I wonder what changed. Please provide some information if anyone of you know what actually happened.

I'm a bit confused about what actually fixed it.

[2017-09-25 23:23] tkamaal opened #115 "Can we change the hotword from "OK Google" to something we want."
Hello,

Is there a possibility to change the hotword from "OK Google" or "Hey Google" to something we want?

[2017-09-28 09:12] Netfreak25 commented on #79
I would really love to get german support!

[2017-09-29 08:50] bkrepo opened #116 "aarch64 google assistant library"
Could you provide google assistant library for aarch64 machine?
There are only armv7 and x86_64 binaries.

Or opening the source code of the library is more good for open source developers.

[2017-09-29 08:52] bkrepo commented on #116
Most of the high-end SBC has aarch64 nowadays.

[2017-09-30 15:31] proppy commented on #91
@prayagupd which OS/architecture? (The library is only availble on GNU/Linux/arm7/x86-64)

[2017-10-06 20:37] tkamaal opened #117 "start_conversation() API doesn't seem to work"
Hello,

I have a question. I'm looking to use two boards
1. Raspberry Pi 3 and
2. Customized board according to my project requirements.

Aim : The purpose of custom board is that it listens to a trigger word and pulls a pin high which is connected to GPIO Pin of Raspberry Pi 3. Upon seeing a high pulse on this pin, Pi should start listening and should start to send my query to google server and p

[2017-10-07 02:49] Fleker commented on #117
And to confirm, you are getting the **GPIO Triggered** message in the console?

[2017-10-10 07:50] makedir commented on #115
Obviously not. And no one cares at Google. I hate it so much that I will switch to Amazons products, where you can change it. "OK Google" is just so awful and annoying to say than just Alexa or some other short word.

[2017-10-10 16:41] Fleker commented on #115
Right now there's no support for custom hotwords directly. However, you can find alternate ways to trigger the microphone with a custom implementation. The hotword detection works offline, so it would be non-trivial to add support for additional hotwords in the library.

[2017-10-10 16:46] makedir commented on #115
I wanted to buy a Google Home Mini, but not anymore I dont. Bye Bye Google Home. Welcome Amazon Echo Dot.

[2017-10-10 17:00] tkamaal commented on #115
@Fleker Yes , I agree with you. People have used snowboy to change trigger words. Thank you.

[2017-10-10 17:50] tkamaal commented on #117
@Fleker  Yes I do see the **GPIO Triggered** message.

I have it working now using start_conversation() function along with start() function.  I did something like this

`user_triggered = 0`
`with Assistant(credentials) as assistant:`
`for event in assistant.start():  #Don't want to use start but it wasn't possible to get it working so had to use it`
`assistant.set_mic_mute(True)`
`if(GPIO.input(2

[2017-10-10 17:56] tkamaal commented on #115
@makedir and @Fleker I think it would make it much better if google adds the support to change the hotword. Hopefully, they might add it in the next release.

[2017-10-10 17:57] #115 closed

[2017-10-10 18:10] Fleker commented on #117
Is the issue related to debouncing? Are you printing out that message too many times for the Assistant to process?

In the [AIY Voice Kit project](https://github.com/google/aiyprojects-raspbian/blob/voicekit/src/assistant_library_with_button_demo.py) there's an example of using a GPIO pin to trigger Assistant

[2017-10-10 18:25] tkamaal commented on #117
@Fleker  Even if I comment the print statement, I still do run into this issue. I will check for the debounce.

[2017-10-10 21:14] shivasiddharth commented on #117
@tkamaal , sorry to to hijack this thread...  @Fleker is the ON_START_FINISHED a new addition ?

[2017-10-10 21:54] tkamaal commented on #117
@Fleker It's not a debounce issue, as the errors creep in after I get a response from google assistant and not when triggered via GPIO.

@shivasiddharth No problem.

[2017-10-11 07:42] shivasiddharth commented on #117
@tkamaal , segmentation error is kind of common. If you are running it as a service, then GA will automatically restart. Add your GPIO trigger under if event.type == EventType.ON_START_FINISHED:
it should work.
Another reason for the error could be due to having the mic_mute(True) and simultaneously, starting the assistant. After print command set mic_mute to false and then try starting the assist

[2017-10-12 20:20] shivasiddharth commented on #108
@aycgit , check this out, #117 , seems like now we can manually start the assistant..

[2017-10-13 05:22] aycgit commented on #108
I swear i had tried that. Anyway i used the aiy lib which did work.

[2017-10-13 05:22] #108 closed

[2017-10-13 20:25] shavanni opened #119 "Some commands no longer work after 13/10"
As of 13/10, some commands no longer work correctly.
Sing me a song now returns "here is information about sing me a song"
Sing a song now returns " here is a matching video"
Tell me a story now returns "here are matching news articles"

All were working correctly on 12/10

This using the aiyproject with gpio trigger

[2017-10-13 23:37] Fleker commented on #119
This is a known issue on the server.

[2017-10-13 23:38] Fleker commented on #112
Google is working to open up Assistant to more languages and locales, but there is no exact date for when this will launch.

[2017-10-13 23:38] #112 closed

[2017-10-15 14:37] theLMGN commented on #69
@Gilliotti718 The binary file has only been compiled for ARM processors.

[2017-10-18 15:39] walterdevos commented on #115
Typically Google does not care for such _details_.  You find this lack of interest in all their products. I think they would more than happy if we just all went elsewhere. Who wants all those "customers" with their pesky needs anyway. :-P

[2017-10-23 12:04] malikasinger1 opened #120 "unable to install"
tried with admin privilage
tried to google and stackoverflow
tried both `pip install google-assistant-sdk` and `pip install --upgrade google-assistant-sdk`
on win 10 latest updated
python 3.6.2 anaconda 3 installed

cmd screen here:
[code]

[2017-10-23 21:54] teganburns commented on #120
http://bfy.tw/EdVv "conda install --force html5lib" should fix the problem.
https://github.com/python-mechanize/mechanize/issues/6

[2017-10-24 10:58] malikasinger1 commented on #120
thanks, it worked

[2017-10-24 10:58] #120 closed

[2017-10-26 22:40] triggerhappyTH opened #121 "not able to use my microphone"
so I just started playing with the raspberry pi with having no history in python our coding, and I'm running into the problem for my .asoundrc file not being read. an after searching on the webs for 2 hours and try to follow googles troubleshooting and multiple other installation guides, I'm still getting the problem of my .asoundrc not working, I'm sure its an easy fix but when even I do the comm

[2017-10-27 17:36] Fleker commented on #121
Looks like there's some behavior involving temporary files. You may want to take a look at what files exist in your home directory: `ls ~/ -a | grep asoundrc` and potentially remove them.

[2017-10-28 10:36] antakim opened #122 "How to add any sound feedback, then Google Assistant hears hotword"

[2017-10-30 02:09] proppy commented on #122
Sound similar to #11 ?

[2017-10-30 06:36] antakim commented on #122
Yes

[2017-11-01 23:48] jstys opened #123 "stop_conversation() still performs action"
I'm trying to use a custom intent parser when receiving the ON_RECOGNIZING_SPEECH_FINISHED event.  My plan was to perform custom actions if the recognized text matched something in my intent parser and otherwise fallback on some response from the google cloud.  If I call stop_conversation() in the event that the text matches a custom intent, the assistant won't give a cloud response however it wil

[2017-11-02 04:06] jiabailie opened #124 "Get invalid wave stream if change the sample rate to other values, such as 24000."
In my side, I need to change the sample rate to other values.
When I change the default sample rate from 16000 to 24000 or 22040, I got invalid wave stream (one 1k .wav file).

Is it a bug, or Google Assistant SDK cannot support other sample rate?

[2017-11-02 04:33] proppy commented on #124
@jiabailie can you confirm which sample you're using?

[2017-11-02 05:01] Fleker commented on #123
This is intended behavior. If you have already linked your Hue to the Assistant, turning it on or off is going to run in parallel to sending the response back to your device. There's no way to override control over other devices which may be in the user's HomeGraph.

[2017-11-02 05:02] jiabailie commented on #124
Now, my google assistant sdk instance's sample rate is 16000.
I want to change it to 24000.

[2017-11-02 05:16] proppy commented on #124
@jiabailie which hardware are you using?

[2017-11-02 05:21] jiabailie commented on #124
@proppy I run it on Ubuntu 14.04. for hardware, please more specific, which part you mean here?

[2017-11-02 05:38] proppy commented on #124
@jiabailie thanks for sharing more info, can you also share which version of the python package you're using (maybe by attaching the output of `pip freeze`).

[2017-11-02 05:47] jiabailie commented on #124
apturl===0.5.2ubuntu4
avs-client==0.5.2
Brlapi==0.6.1
cachetools==2.0.1
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
checkbox-ng==0.3
checkbox-support==0.2
click==6.7
codecov==2.0.9
colorama==0.2.5
command-not-found==0.3
coverage==4.4.1
defer==1.0.6
feedparser==5.1.3
flake8==3.4.0
freezegun==0.3.9
friends==0.1
google-assistant-grpc==0.0.2
google-auth==1.1.1
google-auth-oauthlib==0.1.0
googleap

[2017-11-02 18:27] saifabuhashish opened #125 "Authorization tool"
I am trying to build the googe assistant SDK on a linux busybox. I have gotten to the point where I need use the authorization tool to authorize the google assistant SDK to make google assitant queries. When I run the following command:
google-oauthlib-tool --client-secrets /path/to/client_secret_client-id.json --scope https://www.googleapis.com/auth/assistant-sdk-prototype --save --headless

I ge

[2017-11-06 02:14] proppy commented on #125
It seems that click require the `locale` command to be present https://github.com/pallets/click/blob/950463bd15f877c1163d40b59238b10c637d5b3e/click/_unicodefun.py#L65 in order to check for unicode support.

Did you include locale and unicode support in your busybox build?

Alternatively if you only need to generate the credentials, you can just copy the file generated by the tool (you can configur

[2017-11-06 06:20] ankitj05 commented on #117
I am trying to start conversation when the hotword is detected using snowboy. But i am getting the following issue.
[1042:1069:ERROR:audio_input_processor.cc(755)] Input error
Also when i call the process_event(event) function, my code goes into loop.
This is my code when the hotword is detected
def detect_callback():
    global start_conv, event
    start_conv = 0
    with Assistant(credentials)

[2017-11-06 18:40] saifabuhashish commented on #125
Thank you. I am confused by which file you're referring to though? when running the tool, I get the error I referred to above, it doesn't generate any file...

[2017-11-06 18:42] proppy commented on #125
@saifabuhashish the error message is referring to the `locale` tool, a [standard](http://man7.org/linux/man-pages/man1/locale.1.html) tool present in most linux distribution.

[2017-11-06 18:44] saifabuhashish commented on #125
I understand that. By tool I was referring to the authorization tool that you mentioned above:
" you can just copy the file generated by the tool (you can configure it with the --credentials option) on your target system."
When I run the authorization tool, I get the locale error. Is there anyway else I can get the credentials file?

[2017-11-06 18:46] proppy commented on #125
@saifabuhashish oh sorry, I was referring to the `google-oauthlib-tool` tool.

I'd suggest to run the tool first on a system that has the `locale` binary, and the copy the generated file to your target device.

[2017-11-06 19:23] saifabuhashish commented on #125
I just did that, copied the entire .config directory to my target system, which contains the credentials file, I am getting the following error:
Traceback (most recent call last):
  File "/home/root/projects/seti/exe/env/lib/python3.5/site-packages/urllib3/connectionpool.py", line 601, in urlopen
    chunked=chunked)
  File "/home/root/projects/seti/exe/env/lib/python3.5/site-packages/urllib3/conn

[2017-11-06 19:28] proppy commented on #125
@saifabuhashish seems like you're missing `ca-certificates` on your target device.
https://packages.debian.org/search?keywords=ca-certificates

[2017-11-06 21:03] saifabuhashish commented on #125
@proppy Thanks for the quick replies. My problem is thta the Linux environment that I'm working with is just a Linux kernel v4.4.41, so theres no real OS on my target device, so I dont think these debian ca-certificate packages would be compatible with the system that I'm working with... any other suggestions?

[2017-11-06 22:58] proppy commented on #125
@saifabuhashish if you `strace` the process you should be able to find the location that are being tried for  certs file and copy them from the debian package to this location.

[2017-11-10 04:38] makelove opened #126 "How to setup proxy in sdk?SSL Handshake failed"
previous post: https://github.com/google/aiyprojects-raspbian/issues/169

-
I buy a raspberry pi  AIY kit ,and set proxy at the end of ~/.bashrc file:
[code]
192.168.0.159 is my computer

-
Can not run the demo code because of SSL Handshake failed
[code]
-
How to solve this problem?
Is it a bug ?
or is because my proxy network not good ?
I use Lantern https://getlantern.org/ to skip over GFW in Ch

[2017-11-10 15:47] jrgleason commented on #84
I am still getting this, any ideas? I took a clean image from RPi and even tried `wget https://github.com/respeaker/seeed-voicecard/raw/master/asound_2mic.conf` and then renaming it, but I still get

[code]

[2017-11-10 16:22] jrgleason opened #127 "Getting segmentation fault and audio crash when running from stock Raspbian"
I am trying to get the AIY kit up without the Google supplied image. I have followed the steps in the HACKING.md file, however, when I start the service I see...

[code]

I am using the stock AIY kit. Also when I try to run `make` I get...

[code]

[2017-11-10 16:32] jrgleason commented on #127
Also when I run alsa_info I see `'/sys/module/snd_soc_googlevoicehat_soundcard/parameters/*': No such file or directory`

[2017-11-11 23:11] shivasiddharth commented on #127
If you open the asoundrc, you can see that the raspbian would have populated it with a audio config on its own. Either clear that or copy paste the contents of asound.conf into asoundrc. You should be good to go..

[2017-11-12 18:16] jrgleason commented on #127
@shivasiddharth yeah I had a hard time deciding where to open it thanks!

[2017-11-14 02:39] makelove commented on #126
after I run
[code]
assistant_library_demo.py and assistant_library_with_button_demo.py is OK to use
OK Google get some response.

-
but after a few minutes,still SSL Handshake failed
[code]

[2017-11-14 03:44] Fleker commented on #126
May be related to https://github.com/grpc/grpc/issues/6722

[2017-11-14 09:59] sheridat opened #128 "British Accent"
Hi, I have a AIY voicekit - the Google Assistant replies in an American Accent.

I have a Nexus 7 and a Moto E4 both have the Google Assistant and they both reply in a distinctly British accent.

Can you do something to allow the AIY voicekit to return results in a British Accent?

[2017-11-14 18:30] Fleker commented on #128
Right now there's no ability to change the locale the Assistant responds with.

[2017-11-14 18:32] sheridat commented on #128
okay - just wanted to confirm so I can answer a question of the Raspberry.org AIY forum.

[2017-11-14 18:32] #128 closed

[2017-11-15 02:46] saifabuhashish opened #129 "Passing an audio file to google assistant"
I am using the assistant-sdk-python and I was wondering how I can pass an audio file with a request to the google assitant, is it possible? if so how?

Thanks

[2017-11-15 05:13] Fleker commented on #129
With the project, it records audio in raw bytes and transmits that to the server. You could do a similar thing with a pre-recorded audio file where you transmit the raw data of the audio up.

We do it in some our tests, like here https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/nox.py#L70

[2017-11-15 16:40] joeferner opened #130 "API to get list of alarms and timers"
Are alarms and timers stored on the device somewhere?

It would be nice to have an API to get at the list of alarms and timers. As a bonus would be an API to create and update them as well.

[2017-11-16 09:15] proppy commented on #130
@joeferner can you confirm which python packages you're using? (`google-assistant-grpc` or `google-assistant-library' ?)

[2017-11-16 12:16] joeferner commented on #130
I'm using google-assistant-library. Didn't think the grpc had alarms at all.

[2017-11-17 23:58] saifabuhashish opened #131 "Installing sample dependencies"
I am trying to run Python Samples for the Google Assistant gRPC API, in order to do that, sample dependencies portaudio19-dev, libffi-dev and libssl-dev have to be installed. The README instructs to install the packages using apt-get. My problem is that I am working with linux armv7, kernel v4.4.41. The board I'm working with doesnt have an OS and therefore I cant use apt-get. Is there any alterna

[2017-11-18 20:44] martinklein commented on #79
Please implement the "German" support !!

[2017-11-18 21:11] Fleker commented on #79
Thanks for your feedback. As others have said, currently the SDK only supports the `en-US` locale right now. We do want to make it easier for other locales to use the SDK as well. Thank you for your patience.

[2017-11-20 02:36] proppy commented on #131
You should be able to build them from source:
http://www.portaudio.com/download.html
https://www.openssl.org/source/
ftp://sourceware.org/pub/libffi/

[2017-11-20 14:52] sheridat commented on #130
+1

[2017-11-21 12:25] mpember opened #132 "Can the SDK get answers that contain more than just a spoken answer?"
Since the Google Home devices are capable of playing podcasts, is it correct to assume that the functionality exists for the API to return more than just a spoken answer?

If I ask a Google Assistant to "_play the latest episode of **podcast name**_", the spoken answer suggests that the podcast will play.  However, the response being passed to the software only contains the spoken answer.  If the

[2017-11-21 21:49] Fleker commented on #132
Right now the SDK does not support media playback.

[2017-11-21 23:24] mpember commented on #132
Just to be clear, I'm not suggesting that the SDK should become a media player.  I was wondering whether the API is capable of returning more than just a spoken-word audio track and the text of the request.

[2017-11-22 01:29] Fleker commented on #132
Not right now.

[2017-11-22 01:56] mpember commented on #132
Is that a limitation of the API, or the SDK?

[2017-11-22 02:07] Fleker commented on #132
At the moment it's a limitation of both. There's no field in the protobufs for the Assistant service to return any response from the Assistant other than an audio track and the text of the request. But I'll flag this as an enhancement.

[2017-11-27 12:37] brianjmurrell opened #133 "adding google-assistant SDK-running device to my google home account"
How can I add my device running the google-assistant SDK to my Google Home  as a linked device as described in this [document](https://support.google.com/googlehome/answer/7530880?co=GENIE.Platform%3DAndroid&hl=en)?

[2017-11-27 15:35] Simonx22 commented on #133
Hello, this is currently not possible with SDK. The document you linked only works with a Google Home or a similar device.

[2017-11-27 16:23] brianjmurrell commented on #133
Is this an intentional limitation or just a current one that will be resolved at some future point?

[2017-11-28 05:07] Fleker commented on #133
There's several limitations between a Google Home and the SDK right now. We are continuing to look at which features make the most sense to add next in a way that is useful for third-party developers.

[2017-11-28 14:16] PancakeSparkle opened #134 "Assistant no longer plays youtube on chromecast"
Since yesterday,or so,I think, assistant says it doesn't understand when i tell it to play a video on the chromecast,same thing works on my phone,is it a bug?,i even tried to ask it to play music(i know that's not supported) and i got the same thing.

[2017-11-29 15:43] janvda opened #135 "Enable multiple users (Voice Match) like google home"
It would be interesting if it would be possible to enable multiple user (voice match) like google home.
See https://support.google.com/googlehome/answer/7323910?hl=en

[2017-11-30 01:22] saifabuhashish commented on #131
Thanks @proppy for your help. I was able to download and install all the libraries, however when I go ahead and run googlesamples-assistant-pushtotalk, I still get
OSError: ctypes.util.find_library() did not manage to locate a library called 'portaudio'

which is odd to me since I'm pretty sure the installation process went as expected, and I even got a installation successful message. Any idea on

[2017-12-05 01:30] saifabuhashish opened #136 "locale support"
I am trunning to run the pushtotalk sample in the sdk:
googlesamples-assistant-pushtotalk

When I run the sample, I get the following error:
(env) root@k2g-evm:~/projects/seti/exe# googlesamples-assistant-pushtotalk
Traceback (most recent call last):
  File "/home/root/projects/seti/exe/env/bin/googlesamples-assistant-pushtotalk", line 11, in <module>
    sys.exit(main())
  File "/home/root/projec

[2017-12-05 02:09] Fleker commented on #136
Can you download the sample and try running the source?

[2017-12-05 02:46] saifabuhashish commented on #136
I solved it by installing a en_US locale and then exporting it. Thank you!

[2017-12-06 19:12] PancakeSparkle opened #137 "Assistant no longer knows how to play music"
First of all,i know it didn't play music ever,but as of a few days ago,it doesn't even say music isn't supported,it just says it doesn't know how to help me with that "yet",and so do the chromecast commands,which used to work just fine

[2017-12-06 21:11] Fleker commented on #137
Which Chromecast commands stopped working?

Not knowing how to play music may be a change in the TTS response to reflect its current capability.

[2017-12-06 22:53] jesperandersson89 opened #138 "Unauthenticated?"
Hi!
I have been following this guide: https://developers.google.com/assistant/sdk/develop/grpc/
And everything was going great until I actually tried to use "googlesamples-assistant-pushtotalk".
(found here: https://github.com/googlesamples/assistant-sdk-python/tree/master/google-assistant-sdk)
I have made sure everything on the "Activity Controls page" is as it should, and I can see failed attemp

[2017-12-07 01:59] mtaylor-create commented on #138
I actually had everything working just fine... it's been giving me no trouble for the past few weeks and just today it seems to have un-authenticated itself and now gives me the same message it's giving you.  It may or may not be related... wish I could be of some help though.

[2017-12-07 03:43] Fleker commented on #138
Looks similar to
https://github.com/googlesamples/assistant-sdk-cpp/issues/12#issuecomment-349841929

[2017-12-07 05:39] PancakeSparkle commented on #137
For example YouTube casting,Which used to work,still works on my phone

[2017-12-07 05:40] #134 closed

[2017-12-07 05:44] PancakeSparkle commented on #137
I used to tell assistant to cast videos from YouTube to the TV,it used to do it,I don't know why it doesn't work anymore

[2017-12-07 17:52] project-owner commented on #138
Same here. To reproduce just run one of your examples - pushtotalk.py. It's not working anymore.

[2017-12-07 18:48] Fleker commented on #137
Were you using the library or gRPC version when executing these commands?

[2017-12-07 18:49] Fleker commented on #138
Yes we became aware of this issue last night and are rolling out a fix. Thanks for reporting.

[2017-12-07 22:35] Fleker commented on #138
The fix should be fully rolled out now.

[2017-12-07 22:35] #138 closed

[2017-12-07 22:59] mtaylor-create commented on #138
Confirmed working!  Thank you for the prompt resolution!

[2017-12-08 01:03] megnia commented on #138
It's working, Thank you!

[2017-12-08 07:24] Ranjith1992 commented on #138
It's working, Thank you!

[2017-12-08 17:17] PancakeSparkle commented on #137
library,installed using pip

[2017-12-08 21:58] Taconut commented on #138
The issue started happening again for me. Anyone else in the same boat? It was working for a while though, which is nice.

[2017-12-08 22:19] Fleker commented on #138
@Taconut what error are you getting? It seems to work fine for my test case.

[2017-12-09 00:22] Taconut commented on #138
It started working a few minutes before you posted and it's been working ever since... I'll post on here if it stops again.

[2017-12-11 22:12] shavanni opened #139 "Navigation is no longer working"
Using the GPIO Trigger, whenever i ask how long will it take to get to a destination, I receive the following
"Sorry, I can't do navigation yet"

It used to give the correct response, e.g. " _destination_ is 30 minutes away in light traffic"

[2017-12-12 01:58] Fleker commented on #139
It's a bit unusual that there was a regression. How did it know where you were in the first place?

[2017-12-12 03:24] shavanni commented on #139
Not sure how it knows where I am. Maybe through my location history.
It tells me the weather for my location

[2017-12-12 10:58] Simonx22 commented on #139
It's using your IP to get your location iirc.

[2017-12-12 13:16] sheridat opened #140 "Assistant Selectively using a British Voice"
Hi, I use the Google AIY platform.
In the past if I asked it for weather information - the responses were given in an American accent.
For the first time in perhaps a month I asked the assistant "will it rain today" - I fell out of my high chair when the response was given in a British rather than American accent.
If I ask what is the time - the response is an American voice
If I ask will it rain

[2017-12-12 18:28] Fleker commented on #139
We'll look into it.

[2017-12-12 18:32] Fleker commented on #140
This is a really interesting bug. Thanks for letting us know about it.

You're using a Raspberry Pi and the Python sample?

[2017-12-12 18:41] sheridat commented on #140
I am using a Raspberry PI with a AIY voicehat and a google supplied image available from this url **https://aiyprojects.withgoogle.com/voice#assembly-guide-1-get-the-voice-kit-sd-image**
That image contains a variety of python programs that use the Assistant.
The relevant url for the Google Voice Kit is https://github.com/google/aiyprojects-raspbian

The software runs in a virtual environment with

[2017-12-12 19:06] LondonSi72 commented on #140
I get the same result. Also with the original AIY image.

:2313:ERROR:assistant_output_handler.cc(517)] Ignoring kUnimplemented action error!

[2017-12-14 21:34] VPNMAHAWAR opened #141 "Stuck at ON_MUTED_CHANGED: {'is_muted': False} ON_START_FINISHED on Pi 3 b"
![pi3](https://user-images.githubusercontent.com/15152159/34015412-579c33f6-e144-11e7-8375-d83b11f5ea4f.JPG)

I've installed assistant on Raspberry Pi 3.  All gone well but after the installation done it stuck at ON_MUTED_CHANGED:   {'is_muted': False} ON_START_FINISHED and nothing happens after it.

[2017-12-15 07:24] Fleker commented on #141
Have you tried speaking to it, saying "OK Google, <query>"? It seems like it is waiting for you to say something.

[2017-12-15 16:41] VPNMAHAWAR commented on #141
Tried. Nothing happens....

[2017-12-15 17:58] Fleker commented on #141
Are you sure that your microphone works? Have you tried the pushtotalk sample successfully?

[2017-12-15 19:46] VPNMAHAWAR commented on #141
While running googlesamples-assistant-hotward it says no module named google.assistant.library.
It may help................
![pi3](https://user-images.githubusercontent.com/15152159/34057800-804ad446-e1fe-11e7-801a-
777516cd85e9.JPG)

[2017-12-15 21:11] Fleker commented on #141
Have you made sure to pip install the library?

[2017-12-18 12:08] shivasiddharth commented on #141
@VPNMAHAWAR , what mic are you using ? What is your audio setup , meaning, what is your mic device and audio out device ?

[2017-12-18 12:17] VPNMAHAWAR commented on #141
@shivasiddharth I'm using webcam mic for audio input and standard 3.5 mm speakers for audio out. Both of them are working well (tested using arecord and aplay).
@Fleker Sorry for the late reply as my college exams are going on. I've installed all the libraries written over the Google developers page to setup SDK.

[2017-12-18 12:22] shivasiddharth commented on #141
@VPNMAHAWAR , Try changing your asound.conf and asoundrc to this https://github.com/shivasiddharth/GassistPi/blob/master/audio-drivers/USB-MIC-JACK/scripts/asound.conf

[2017-12-18 12:57] VPNMAHAWAR commented on #141
Thanks @shivasiddharth ,It worked after changing the .asoundrc and asound.conf files.

[2017-12-18 12:57] #141 closed

[2017-12-19 21:37] Enzoinventor commented on #79
Hello, when could we also have the Italian language?
thank you

[2017-12-20 18:11] #136 closed

[2017-12-20 18:11] Fleker commented on #140
Can you try with the updated version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:11] Fleker commented on #139
Can you try with the updated version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:11] Fleker commented on #139
Can you try with the updated version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:13] Fleker commented on #119
Is this issue still occurring?

[2017-12-20 18:13] Fleker commented on #114
Can you try with the updated version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:14] Fleker commented on #111
That exact API wouldn't work for Actions on Google actions, but you can now use Device Actions for on-device fulfillment.

[2017-12-20 18:15] Fleker commented on #97
Can you try with the updated version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:16] Fleker commented on #94
Can you try with the updated version of the library?

google-assistant-grpc 0.4.0

[2017-12-20 18:17] Fleker commented on #90
We've added support for device actions for on-device fulfillment.

[2017-12-20 18:17] #90 closed

[2017-12-20 18:17] Fleker commented on #89
Can you try on the latest version of the gRPC API, version 0.4.0?

[2017-12-20 18:18] Fleker commented on #88
Can you try with the updated version of the library or gRPC?
We've added support for custom setting of location or street address, so responses should be more accurate.

google-assistant-library 0.1.0
google-assistant-grpc 0.1.0

[2017-12-20 18:20] Fleker commented on #87
I think this may be a limitation of the shopping list implementation, not related to the Assistant SDK.

[2017-12-20 18:20] #87 closed

[2017-12-20 18:20] Fleker commented on #85
Can you try with the updated version of the sdk?

google-assistant-sdk 0.4.0

[2017-12-20 18:21] Fleker commented on #84
Can you try on the latest version of the SDK?

[2017-12-20 18:21] Fleker commented on #82
Music and other long-form audio playback are not supported in the Assistant SDK at the moment.

[2017-12-20 18:23] Fleker commented on #79
You can now manually set the locale in the gRPC request. This allows developers to use it in German, French, and all other Assistant-supported locales.

It can also be changed in the Assistant settings for a particular device.

[2017-12-20 18:23] #79 closed

[2017-12-20 18:24] Fleker commented on #78
`supplemental_display_text` can now be retrieved for all responses from the Assistant.

[2017-12-20 18:24] #78 closed

[2017-12-20 18:24] Fleker commented on #73
Can you try with the updated version of the SDK?

google-assistant-sdk 0.4.0

[2017-12-20 18:25] Fleker commented on #71
We released support for x86 chipsets.

[2017-12-20 18:25] #71 closed

[2017-12-20 18:28] Fleker commented on #69
The library should work on ARMv7 and x86_64 processors.

[2017-12-20 18:28] #69 closed

[2017-12-20 18:30] Fleker commented on #47
Can you try with the latest version of the library?

google-assistant-library 0.1.0

[2017-12-20 18:30] Enzoinventor commented on #79
thanks for the reply, but I did not understand in which file do you have to intervene exactly? you're not referring to the i18n.py file, right?

[2017-12-20 18:30] Fleker commented on #46
We've added support for the supplemental_display_text from the AssistResponse.

[2017-12-20 18:30] #46 closed

[2017-12-20 18:32] #28 closed

[2017-12-20 18:33] Fleker commented on #19
Text input is now supported in the latest version of gRPC.

[2017-12-20 18:33] #19 closed

[2017-12-20 18:33] #18 closed

[2017-12-20 18:37] Fleker commented on #79
You can do it directly in the command line for `pushtotalk.py` with the `--lang en-US` flag or set the `language_code` in the `DialogStateIn`

https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/googlesamples/assistant/grpc/pushtotalk.py#L175

[2017-12-20 20:19] Enzoinventor commented on #79
thanks for the reply, on my rpi3 I installed the image aiyprojects-2017-09-11.img and the file you linked me contains different information. just edit the pushtotalk.py file or do I have to copy all the code you've linked to the RPI3?
thank you so much

[2017-12-20 20:29] sheridat commented on #140
I updated the version as above.

It breaks the AIY software
(env) pi@raspberrypi:~/AIY-voice-kit-python $ src/assistant_library_with_local_commands_demo.py
Traceback (most recent call last):
  File "src/assistant_library_with_local_commands_demo.py", line 99, in <module>
    main()
  File "src/assistant_library_with_local_commands_demo.py", line 93, in main
    with Assistant(credentials) as assis

[2017-12-20 21:26] Fleker commented on #140
You'll need to register a `device_model_id` https://developers.google.com/assistant/sdk/guides/library/python/embed/register-device

[2017-12-20 21:29] Fleker commented on #79
You may need to update the pushtotalk sample and make sure you're using the latest version of the gRPC version.

[2017-12-20 22:00] sheridat commented on #140
Thank You - please see this update I've made on the AIY repo.
https://github.com/google/aiyprojects-raspbian/issues/199

[2017-12-21 07:42] shavanni commented on #139
I haven't updated as I'm not sure how but it seems to be working regardless

[2017-12-21 09:33] Enzoinventor commented on #79
hello, sorry again, I tried to update from the link you gave me with sudo pip install --upgrade google-assistant-library. although the rpi3 has done everything, the library does not contain updated new files like pushtotalk.py.
do I forget something?
thank you

[2017-12-21 14:04] Enzoinventor opened #142 "problem for new sdk assistant rpi3"
hi, trying to run pushtotalk.py I get these errors:
(env) pi@raspberrypi:~ $ python3 /home/pi/assistant-sdk-python-master/google-assistant-sdk/googlesamples/assistant/grpc/pushtotalk.py
INFO:root:Connecting to embeddedassistant.googleapis.com
WARNING:root:Device config not found: [Errno 2] No such file or directory: '/home/pi/.config/googlesamples-assistant/device_config.json'
INFO:root:Registerin

[2017-12-21 17:20] shivasiddharth commented on #142
Try something like this.
[code]
The model id should be unique.  For my project users, i have created this script, which will take in the project id, name of the credentials file and a nickname. I am generating the modelid using the project-id and the date and time of installation, in that way, the modelid is always unique. Feel free to modify the script and use.
https://github.com/shivasiddharth/G

[2017-12-21 17:36] JulianMined commented on #79
Is there a way to change the language for the Hotword sample?
If i change it in the Assistant App, it hat no effect

[2017-12-21 17:40] shivasiddharth opened #143 "from __future__ import print_function in hotword.py"
Do we need the print function import? I suppose it would throw some import errors.

[2017-12-21 18:18] Fleker commented on #139
I'm glad to hear.

[2017-12-21 18:18] #139 closed

[2017-12-21 18:22] Fleker commented on #142
You first need to register your device model, then you will receive a device id from the sample. You can follow the instructions in [the docs](https://developers.google.com/assistant/sdk/guides/service/python/embed/register-device). Let me know if you have more questions.

`python3 pushtotalk.py --device-model-id your-model-id`

[2017-12-21 18:25] Fleker commented on #143
It is being used as a compatibility layer between Python 2.7 and Python 3 for printing. [This StackOverflow question](https://stackoverflow.com/questions/32032697/how-to-use-from-future-import-print-function) has more information about it.

[2017-12-21 18:30] shivasiddharth commented on #143
Ok..Thanks !

[2017-12-21 18:30] #143 closed

[2017-12-21 22:06] Enzoinventor commented on #142
thanks for the answers, I managed to register the device and get the id and I ran the hotword example correctly by repeating the instructions here: https: //developers.google.com/assistant/sdk/guides/library/python /

The only thing that is not clear to me is because after the updates made, in the home / pi folder I still have the folder assistant-sdk-python with the old files inside? in theory I

[2017-12-21 22:21] Fleker commented on #142
Are you modifying the sample code directly or using the `google-assistant-pushtotalk` command?

You can add the `--lang en-US` flag to change locale.

[2017-12-21 22:27] Enzoinventor commented on #142
I would like to modify the sample code but I do not find it in home / pi / assistant-sdk-python / google-assistant-sdk / googlesamples / assistant / grpc
or rather I find it but not the updated version. why?

[2017-12-21 23:41] Enzoinventor commented on #142
@shivasiddharth
I tried your example and it does not work

[2017-12-21 23:44] shivasiddharth commented on #142
@Enzoinventor , my mistake. There should not have been nickname there.
[code]
This one works for sure. Just make sure to set your own model-id

[2017-12-21 23:44] Fleker commented on #142
Did you pull the latest changes in the sample?

[2017-12-21 23:56] Enzoinventor commented on #142
@Fleker no, I have not done it yet if I run python3 pushtotalk.py --device-model-id your-model-id
I did not get the file in the directory

[2017-12-22 00:00] Enzoinventor commented on #142
@shivasiddharth
by running this code:
googlesamples-assistant-devicetool register-model --manufacturer "Pi Foundation" \
          --product-name GassistPi --type Light --model 'Your unique model-id'
and inserting my id from the google console, I get this error:
Error: Invalid value for "--type": invalid choice: Light. (choose from LIGHT, SWITCH, OUTLET)

[2017-12-22 00:26] shivasiddharth commented on #142
@Enzoinventor .. Aaah auto correct..  LIGHT should be in caps.
[code]

[2017-12-22 00:29] Enzoinventor commented on #142
@shivasiddharth
ok, so it works

[2017-12-22 07:54] shirish47 commented on #73
Oh thanks for the reply :) @Fleker  currently I am working on other things so I would check this later. but I think that time we made it work. I just don't remember how we resolved this.

[2017-12-22 12:21] Simonx22 opened #144 "textinputy.py is doing weird things"
Hello, after I've tried textinput.py I've noticed that it's doing weird things. It's either not answering my questions at all or is talking about things that don't make sense. Here is an example:

assistant: None
you: play lucky trivia
assistant: None
you: set an alarm
assistant: None
you: what's the weather?
assistant: None
you: hello in german
assistant: None
you: how are you
assistant: None
you

[2017-12-22 14:12] Enzoinventor commented on #142
maybe it is appropriate to release a new AIY image file?

[2017-12-22 18:32] Fleker commented on #144
Can you try with the `pushtotalk.py` sample, giving the same queries and see if you get the same thing? It may also give you some audio out which could provide more information.

I'll try to reproduce on my end.

[2017-12-22 18:45] Fleker commented on #144
I reproduced your case in the SDK as well as on my phone. It looks like there's a bug in getting the supplemental display text of the question. However, you are still in the Trivia Question flow so your other prompts get ignored.

**Phone**
Me: give me a trivia question
Assistant: I like this one. It's a science question. How many teaspoons are in one tablespoon? 3, 2.5, or 6?
Me: play lucky trivi

[2017-12-23 15:03] sheridat opened #145 "AIY - Voicekit- Assistant version 0.1.0 volume is less than a whisper"
Your aware that some work has been done over on your "sister" repo google/aiyprojects-raspbian to update the voicekit to version 0.1.0 of the assistant.
The team has put together a fix https://github.com/google/aiyprojects-raspbian/pull/207

I've patched my system to take on that fix but there is a problem - the volume level of the assistant is not even as loud as a whisper.

There are posts from

[2017-12-23 18:45] Jojow99 opened #146 "Hotword example Language"
Hello,
is there a way to change the language in the hotword example?

[2017-12-23 19:07] shivasiddharth commented on #145
The volume levels are low at the start after installation. "Hey google, set volume to maximum" command will increase the volume.

[2017-12-23 20:04] sheridat commented on #145
@shivasiddharth yes there are some posts on the forum providing this solution as well https://www.raspberrypi.org/forums/viewtopic.php?f=114&t=200498&p=1249848#p1249848

[2017-12-23 20:04] #145 closed

[2017-12-23 21:25] Enzoinventor commented on #142
I succeeded thanks guys for the tips
googlesamples-assistant-pushtotalk --device-id 'id personal' --lang it-IT

[2017-12-23 21:25] #142 closed

[2017-12-23 23:53] Simonx22 commented on #146
Did you try --lang [language] behind the command? So for example: --lang ja-JP for Japanese and --lang de-DE for German.

[2017-12-24 09:19] Enzoinventor commented on #146
@Simonx22 the hotword code is not structured to define the language. did you open the hotword.py file?

[2017-12-24 10:55] Simonx22 commented on #146
@Enzoinventor oh you're right. I thought it has that too like [textinput.py does](https://github.com/googlesamples/assistant-sdk-python/blob/7c422718749f3992dae7f0e6a3be8f2fb42d0fe9/google-assistant-sdk/googlesamples/assistant/grpc/textinput.py#L131).  I heard that it's possible to change settings in the Google Home app, but I'm not sure how.

[2017-12-24 11:16] JulianMined commented on #146
@Simonx22
You can change the language/devicename in the App, but without any effect :/

[2017-12-24 18:18] pratesbh opened #147 "Assistant Apps no longer supported"
With December's release I can't no longer use Google Assistant Apps with the hotword demo. When I try to invoke an existing App, like "talk to SongPop", it answers "Sorry, SongPop is not supported on this device".

[2017-12-25 18:34] Raddy13 opened #148 "Assistant keeps getting stuck on "ON_RESPONDING_STARTED""
I've got Assistant running on a Raspberry Pi 3 and I ran the sample code, but it only works about 1 out of every 5 requests. Here's an example:

`ON_CONVERSATION_TURN_STARTED
ON_END_OF_UTTERANCE
ON_RECOGNIZING_SPEECH_FINISHED:
  {'text': 'what time is it'}
ON_RESPONDING_STARTED:
  {'is_error_response': False}
ON_RESPONDING_FINISHED
ON_CONVERSATION_TURN_FINISHED:
  {'with_follow_on_turn': False}

O

[2017-12-26 06:03] humaknlght commented on #115
My problem is that when I say the keyword it triggers the phone of the person sitting next to me.  It's put me off from using the voice assistant.

[2017-12-26 09:46] sxy2069 commented on #47
![image](https://user-images.githubusercontent.com/19299869/34353718-c22a7920-ea64-11e7-91c0-de0efad01642.png)

[2017-12-26 12:34] masaki-takano opened #149 "Error: Missing option "--client-type"."
[code]

[code]

[2017-12-26 13:07] #149 closed

[2017-12-26 23:33] Enzoinventor opened #150 "Feature requests"
you are kindly requested to add the possibility to change the language to the hotword.py file
thank you

[2017-12-28 02:38] proppy commented on #146
There was an [issue](https://github.com/googlesamples/assistant-sdk-python/commit/f00df5ff40672942bdc6d1b27c10c49076f994f2) where the hotword sample didn't set the `client_type` correctly during device registration.

We published a new release:
https://pypi.python.org/pypi/google-assistant-sdk/0.4.1

Can you give it another try?

[2017-12-28 08:49] zhengpenghu commented on #79
Hi @JulianMined, we fixed the issue with a new release https://pypi.python.org/pypi/google-assistant-sdk/0.4.1 See proppy's comment in #146 for detailed instruction.

[2017-12-28 08:51] zhengpenghu commented on #79
@Enzoinventor Assistant SDK library only supports changing language from Assistant App. If you want more flexibility in selecting language, you can try SDK service API.

[2017-12-28 09:32] Enzoinventor commented on #79
Thanks for the info. even if I do not find it correct to exclude several users who do not have at least android 6.0 to install the app assistant and change the language. what do you mean as api sdk?

[2017-12-28 11:12] pratesbh commented on #146
@proppy yes, it worked for me.
ps: grpc takes about one hour for building on my single board PC (Orange Pi Zero)

[2017-12-28 11:16] proppy commented on #146
@pratesbh there should be arm7 wheels for the `1.7.0` version:
https://pypi.python.org/pypi/grpcio/1.7.0

[2017-12-28 18:38] Nick-256 commented on #146
The hotword example now works with other languages, but I still have to pronounce "Ok Google" in english to trigger it

[2017-12-28 18:44] ameer1234567890 commented on #148
I am having this issue as well. But it seems to happen frequently only at certain times rather than intermittently. It seems more like a server side slowness.

[2017-12-28 19:52] zhengpenghu commented on #79
Here is what I mean
https://developers.google.com/assistant/sdk/guides/service/python/
https://developers.google.com/assistant/sdk/release-notes

[2017-12-28 20:19] martinklein commented on #79
Many thanks for this guidance. However I am sure most of us entered this road with "The MagPi Essentials AIY Projects" that could be ordered from the Magpi Magazine as a nice and easy cardboard package.
Your guidance has little in common with the instructions in the booklet of this package.
For me the question is now if I have to restart from scratch or if I can upgrade the code that came with thi

[2017-12-28 22:01] sergio-daniels commented on #146
I don't have access to the google assistant app since i only have an ios device and the google assistant app is not available in the Swiss ios app store. Is it possible to change the language of the hotword example without the app?

[2017-12-28 22:07] Enzoinventor commented on #146
@sergio-daniels no and in my opinion here they were not very correct. they cut out several users. (please solve)

[2017-12-29 00:24] Enzoinventor commented on #150
@Fleker hello, can you ask the staff to be able to change the language in hotword not only from the app assistant but also directly from the file type with a default lang? I wonder why it was not taken into consideration that not all of them have compatible devices to install the app assistant. I hope you can solve this big problem for several users. I wait for your news thanks

[2017-12-29 02:39] Fleker commented on #150
Thanks for the suggestion. I'll rename this issue to be more clear.

[2017-12-29 02:43] Fleker commented on #146
For the Assistant SDK Library, you will need to change language using the app. If you are interested in programmatically changing the language in the library, please refer to #150.

For the Assistant Service, you can programmatically change the language in the API.

I'll close this issue as the primary question has been answered.

[2017-12-29 02:43] #146 closed

[2017-12-29 02:45] Fleker commented on #148
This may be a server-side issue. What microphone are you using?

[2017-12-29 02:55] Fleker commented on #147
Thanks for the report. We're looking into why this may be happening. Can you try registering again with the 0.4.1 release of the SDK, then checking whether it is working correctly?

[2017-12-29 05:44] ameer1234567890 commented on #148
I am using the official AIY kit (all official parts). This happens only with the new version of assistant sdk

[2017-12-29 10:43] garicchi opened #152 "Accuracy of recognition is very low in hotword detection in japanese"
In the google assistant library v0.1.0, the sdk corresponded some language (ex. ja-JP).
So I tried to update sdk, register device, set language following step https://developers.google.com/assistant/sdk/guides/assistant-settings
and run program "googlesamples-assistant-hotword" and speech "OK,Google(In Japanese)".

However, the program could not recognize hotword which is  "OK,Google"(In Japanese)

[2017-12-30 22:20] r67 commented on #91
@prayagupd same problem for me, @proppy I'm trying to run it on ubuntu 17 on x86_64, any update?

[2017-12-31 00:04] prayagupd commented on #91
@proppy Im on MacOS x86_64.

[code]

Is there no SDK for MacOS?

[2017-12-31 00:27] landaisbenj opened #153 "ERROR:assistant_ssdp_client.cc(83) and (210)"
Sorry for my english.

I've follow this step for install google assistant sdk without any problem.

When i start to running assistant i've many line like this two:

[4155:4172:ERROR:assistant_ssdp_client.cc(83)] LOCATION url's host is not a valid IP address [4155:4172:ERROR:assistant_ssdp_client.cc(210)] Failed to parse header: LOCATION: http://[@ipv6]:49152/InternetGatewayDevice.xml

I don't real

[2017-12-31 15:32] landaisbenj commented on #84
Hello. I have rpi3 with latest google sdk install on stretch. I use the 4mic respeaker from seeed. And sound of google are really bad. Not speed but quiet and noisy.
if i test a rec and play like the google sdk guides:
arecord --format=S16_LE --duration=5 --rate=16000 --file-type=raw out.raw
i've the problem. But if i test this:
arecord --**format=dat** --duration=5 --rate=48000--file-type=raw out

[2018-01-01 14:34] sopissed opened #154 "google-assistant-library-Empty"
I m so pissed i m trying to install this google assistant on my pc but getting errors from the first command i solved all of them but i m not able to solve this one
  File "C:\Users\HRIDHYANSH\AppData\Local\Programs\Python\Python36-32\Scripts\go
oglesamples-assistant-hotword.exe\__main__.py", line 5, in <module>
  File "c:\users\hridhyansh\appdata\local\programs\python\python36-32\lib\site-p
ackag

[2018-01-01 15:17] VPNMAHAWAR commented on #154
just install the library by executing the command in command prompt:
pip install google-assistant-library

[2018-01-01 16:17] JawsOrca opened #155 "PortAudioError(errormsg, err) sounddevice.PortAudioError: Error opening RawStream: Invalid sample rate [PaErrorCode -9997]"
Hi All,

Sorry stupid beginner questions.

I'm trying this project on a Raspberry Pi 3.

I have a cheap usb webcam with a mic and a usbpowered mic driven speakers.

I'm entering: python -m googlesamples.assistant.grpc.pushtotalk

And I keep getting an error:

(env) pi@raspberrypi:~ $ python -m googlesamples.assistant.grpc.pushtotalk
INFO:root:Connecting to embeddedassistant.googleapis.com
Tracebac

[2018-01-02 12:39] pratesbh commented on #147
Unfortunately I can't make such change at this moment. Maybe in a few weeks, when a new single board pc will arrive.

[2018-01-02 20:23] JulianMined opened #156 "JSONDecodeError"
I'm using the hotword example (German)

ON_END_OF_UTTERANCE
ON_RECOGNIZING_SPEECH_FINISHED:
  {'text': 'schalte das Licht heller'}
Traceback (most recent call last):
  File "_ctypes/callbacks.c", line 234, in 'calling callback function'
  File "/usr/local/lib/python3.5/dist-packages/google/assistant/library/assistant.py", line 134, in __call__
    args = json.loads(event_bytes.decode(encoding='UTF

[2018-01-02 21:09] Fleker commented on #156
So you wanted to turn up the brightness of a light? Are you trying to turn up the brightness of the device running the hotword example?

Can you try to give an absolute brightness, ie. "set the brightness to 80"?

[2018-01-02 21:17] JulianMined commented on #156
Yes, thats right.

I can set absolute brightness without a problem

[2018-01-02 22:43] Fleker commented on #156
Can you edit the hotword sample to print out the JSON output? I imagine it's a Device action, but I don't know what it would be sending.

Relative changes do not work as there's no flow to obtain the current brightness (like a Smart Home [QUERY](https://developers.google.com/actions/smarthome/#report-state) intent)

[2018-01-03 06:51] miz884 opened #157 "unknown device error on pushtotalk"
The pushtotalk.py shows the following error on a device with a trait action.devices.traits.OnOff:

[code]

The error indicates that a [DeviceRequestHandler](https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/googlesamples/assistant/grpc/device_helpers.py#L76) was not initialised with a proper device_id.

In [pushtotalk.py](https://github.com/googlesamples/assist

[2018-01-03 10:56] JulianMined commented on #156
I cannot print the JSON, it looks like a internal problem.

[2018-01-03 19:21] Fleker commented on #157
Are you passing the device id as a flag when you start the script?

[2018-01-04 22:32] amerinoo commented on #147
Same problem here. Today I have made a clean installation of the Google Assistant SDK updating all. The demos are working well, but when I say "talk to Albert test" the answer is "Sorry, talk to Albert test is not supported on this device".

[2018-01-04 23:46] sergio-daniels commented on #146
since i don't have an android device, I installed the android development studio and launched an android virtual device with android oreo. I was able to login to google app an change the language to de-DE, but still the hotword example is talking in english

[2018-01-05 01:46] zhengpenghu commented on #146
@sergio-daniels  Yes. Change language in App only change how ASR understand your query, not the offline built-in hotword language. I will file this as a feature request to engineers.

Thanks,

[2018-01-05 02:06] zhengpenghu commented on #79
This is a new version of Assistant SDK and some fields get changed, together with some new fields. The github link you give doesn't work, but I know that project. Assistant SDK is not built on top of Cloud Speech API, and it supports multi language by itself now, without cloud speech API support.
What I can suggest now, is either start from a scratch by yourself, or probably wait for an official m

[2018-01-05 08:57] Rohankhairnar123 commented on #38
I install google assistant on raspberry pi with noobs OS.
but i'm getting an error as follow:

[8468:8521:ERROR:audio_input_processor.cc(755)] Input error
/home/pi/AIY-projects-python/src/aiy/_drivers/_led.py:51: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.setwarnings(False) to disable warnings.
  GPIO.setup(channel, GPIO.OUT)
Say "OK, Google" then speak, or press

[2018-01-05 09:25] Rohankhairnar123 commented on #38
i solved that all above error now i getting only error as folow:

[8468:8521:ERROR:audio_input_processor.cc(755)] Input error

[2018-01-05 13:09] sergio-daniels commented on #147
same problem here, would be greate to get it fixed. I realy like the sdk.

[2018-01-05 13:11] sergio-daniels commented on #135
any update on these enhancment?

[2018-01-05 18:37] Fleker commented on #38
@Rohankhairnar123 you should take a look at our [audio configuration](https://developers.google.com/assistant/sdk/guides/library/python/embed/audio) page.

[2018-01-06 05:40] Rohankhairnar123 commented on #38
@Fleker thank you ...i'll check out that.

[2018-01-06 21:44] tartanguru opened #158 "Missing DialogStateOut.supplemental_display_text GRPC messages"
Hi,

I've written my own client for the GRPC service where I am submitting text based requests. I am receiving GRPC messages containing audio and supplemental_display_text but I only ever receive one supplemental_display_text message per response. This is generally ok and provides a transcript of the assistant response but there are some queries which result in the single supplemental_display_text

[2018-01-07 00:11] WMisiedjan commented on #158
I'm following this, would love to have multiple returns too.

I also noticed that you get a different text format now when you ask for example: what is the best time to go to bed?

You'll get a format like this: -- "Source tile" ( source.domain - source.domain/full-path) Information that google got from this source. --

Would love to know of there are more formats like this!

![image](https://user

[2018-01-07 05:59] Fleker commented on #158
We are aware of the limitation of only the last display text being sent.

[2018-01-08 20:15] ameer1234567890 opened #159 "Conflicting dependencies"
After running `pip check` and trying to fix dependencies I have noticed that there are conflicting dependencies. Is there a way to overcome this?

[code]

[2018-01-08 20:19] ameer1234567890 commented on #159
I shall cross post this on the `aiyprojects-raspbian` repo. Seems more relavant there.

[2018-01-08 20:19] #159 closed

[2018-01-09 08:39] tartanguru commented on #158
@Fleker

Hi Nick,

by limitation do that mean that is a bug or that's a feature that isn't going to be addressed?

Thanks

Ross

[2018-01-09 09:30] zaper4life opened #160 "ImportError: attempted relative import with no known parent package"
Couldn't find anyway to make it work, couldn't find support online, I'm a newb who want to play with experts, if you can help me to get it to work I'll love it.

After running:

python -m pushtotalk --device-id 'my-device-identifier'

I've encountered following error:

pushtotalk.py", line 38, in <module>
    from . import (
ImportError: attempted relative import with no known parent package

[2018-01-09 19:21] Fleker commented on #160
Which python version are you using? Python 3?

[2018-01-09 19:22] Fleker commented on #158
It's something that isn't part of the API.

[2018-01-10 11:46] zaper4life commented on #160
I ran:
_brew install python python3_
it completed successfully :)

Than I ran:
_python --version_
But got:
_Python 2.7.10_

I install python launcher from a downloaded dmg and it version appear to be:
_3.6.4_

[2018-01-10 18:29] Fleker commented on #160
Do you have access to `python3` in the terminal? Can you run `python3 --version`? What if you run `python3 -m pushtotalk --device-id 'my-device-identifier'`?

[2018-01-11 02:37] dolanmiu opened #161 "Possible to cast to Google Assistant enabled device?"
Is it possible to cast **to** a Google Assistant enabled device?

For example, I install this on a Raspberry Pi, then on my computer, I cast the audio to the Pi.

Like what Google Home can do

[2018-01-11 03:51] Fleker commented on #161
No, casting is a slightly separate component from the Assistant SDK.

[2018-01-11 12:48] zaper4life commented on #160
Nope, not it, I'll attach my actions.
[MaybeIjustSuckAtSruff.txt](https://github.com/googlesamples/assistant-sdk-python/files/1622613/MaybeIjustSuckAtSruff.txt)

[2018-01-11 18:22] Fleker commented on #160
@proppy do you know more about this bug? It appears to be something to do with [the Python imports here](https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/googlesamples/assistant/grpc/pushtotalk.py#L38).

I've pasted the previous logs below for easier access
[code]

[2018-01-12 02:21] proppy commented on #160
This seems like an issue with python 3.6

[2018-01-12 02:42] proppy commented on #160
I can reproduce the issue when trying to run with python3.6 -m pushtotalk
[code]

The other documented way to run the package work as expected:
https://developers.google.com/assistant/sdk/guides/service/python/embed/run-sample
[code]

This also work:
[code]

We still have an issue when running the sample directly from the file.
[code]

I think this is related to this 3.6 changes:
https://bugs.pyth

[2018-01-12 02:58] proppy commented on #154
Note that the google-assistant-library is only support on Linux (see https://developers.google.com/assistant/sdk/overview#features).

You should be able to follow the getting started guide for the Google Assistant Service:
https://developers.google.com/assistant/sdk/guides/service/python/

[2018-01-12 02:58] #154 closed

[2018-01-12 06:43] proppy opened #163 "validate if import boilerplate is needed"
In https://github.com/googlesamples/assistant-sdk-python/commit/22db0715767fc85cc20ba40982807cbd300712fb we introduced some boilerplate to workaround namespace import differences when executing from python modules (`python -m pushtotalk`) vs scripts (`python pushtotalk.py`) for python 2.y and python 3.5.

This broke with #160 as python 3.6 changed the type of the exception raised from `SystemError

[2018-01-12 17:58] #160 closed

[2018-01-13 04:20] SzDavidHUN commented on #145
I've had this problem. The souliton above wasn't good enough, my speaker is a very sensitive thing, but it was still way too quiet. The problem was, that in alsamixer, the output was set 45 by defult. The command above, and *setting the volume to maximum in alsamixer* solved the problem really well.
I'm just leaving this answer here, maybe somebody will find it useful :)

[2018-01-14 09:45] zaper4life opened #164 "Device config not found: [Errno 2] - ERROR:root:Failed to register device"
Couldn't find anyway to make it work, couldn't find support online, I'm a newb who want to play with experts, if you can help me to get it to work I'll love it.

After running:

python -m pushtotalk --device-id 'my-device-identifier'

I've encountered following error:

_(env) ISRTLVMAC13:grpc oassraf$ python -m pushtotalk --device-model-id 'Omer_Link.932' --project-id 'OmerAssistant'
INFO:root:Con

[2018-01-14 20:07] zhengpenghu commented on #164
Make sure you do have the google developer project 'OmerAssistant', and the gmail account logged in is owner or editor of that project.

"Also, note that you must be an Owner or Editor of a given Google Developer Project to register models for it. (Add these roles for other users in the Cloud Console—see the IAM documentation)."

https://developers.google.com/assistant/sdk/guides/service/python/em

[2018-01-14 22:49] zaper4life commented on #164
1. I appear to be the owner
2. I believe I use the correct credentials
3. I put a lot of pictures that may say more than I can
4. It's unbelievable the help and support I get from you guys, I'm a total newb who try to play with stuff and learning on the way and your support is something that I'm new to, thanks a bunch!

**Error:**
_(env) ISRTLVMAC13:grpc oassraf$ python -m pushtotalk --device-mode

[2018-01-15 01:00] zhengpenghu commented on #164
Did you figure it out now?

Could you try get your device model using command here?
https://developers.google.com/assistant/sdk/guides/service/python/embed/register-device

A device need to be tied to a existing device model owned by your project.

[2018-01-15 11:08] zaper4life commented on #164
Still haven't figure it out yet, I seem to be able to register the device but nothing else:

_(env) ISRTLVMAC13:grpc oassraf$ python -m devicetool register --model 'Omer_Link'                               --type LIGHT --trait action.devices.traits.OnOff                               --manufacturer 'Assistant SDK developer'                               --product-name 'Assistant SDK light'

[2018-01-15 11:45] MightyPiggie opened #165 "no such option: --client-secrets"
When I run this command ''pip install --upgrade google-auth-oauthlib[tool]
google-oauthlib-tool --client-secrets client_secret_XXXXX.json --scope https://www.googleapis.com/auth/assistant-sdk-prototype --save --headless''
I get this error message
''Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-option

[2018-01-15 12:16] MightyPiggie commented on #164
I have the same problem.
C:\Users\Daan\Desktop\googleassistant>googlesamples-assistant-pushtotalk --project-id 487137548294 --device-model-id 487137548294Daan
INFO:root:Connecting to embeddedassistant.googleapis.com
WARNING:root:Device config not found: [Errno 2] No such file or directory: 'C:\\Users\\Daan\\AppData\\Roaming\\googlesamples-assistant\\device_config.json'
INFO:root:Registering device

[2018-01-15 13:37] #165 closed

[2018-01-15 20:55] zhengpenghu commented on #164
@MightyPiggie I doubt your project id is something else, 487137548294 looks like a project number. You can also read my comment above to verify your account's role in the project.

[2018-01-15 21:01] MightyPiggie commented on #164
@zhengpenghu Thanks you where right I was using my project number instead of the id. Its working now .

[2018-01-15 21:48] zaper4life opened #166 "Give me permission to help you"
Couldn't find anyway to make it work, couldn't find support online, I'm a newb who want to play with experts, if you can help me to get it to work I'll love it.

After running:
python -m pushtotalk --device-id 'my-device-identifier'
I pressed enter and recorded my voice,
All the assistant is saying back is "give me permission to help you'

I'm a bit confused,
Using Mac OSX High Sierra

[2018-01-15 22:01] zhengpenghu commented on #166
It's asked and resolved on stackoverflow already.
https://stackoverflow.com/questions/46482807/google-assistant-sdk-returns-give-me-the-permission-to-help-you

[2018-01-15 22:45] zaper4life commented on #166
Amazing it worked! I have my assistant working! wow!

Now what can I do with it?
I've been using it for the last minute to tell me jokes,

It can't start Spotify
It can't set Reminders
It can't even start a timer!

I mean it's funny but what else can I do with it?

Is there a way to teach it stuff?

[2018-01-16 01:46] noahwater commented on #38
same problem... https://embeddedassistant.googleapis.com/v1alpha2/projects/noahpi-19xx01/devices/86250A87CB146B18xx1EB7CF1EE75598 200 ON_MUTED_CHANGED: {'is_muted': False} ON_MUTED_CHANGED: {'is_muted': False} ON_START_FINISHED ON_START_FINISHED [5062:5091:ERROR:speech_recognition_activity.cc(605)] S3 connection has timed out: No data from S3 [5062:5091:ERROR:speech_recognition_activity.cc(605)] S

[2018-01-16 07:14] noahwater commented on #52
Please help..
https://embeddedassistant.googleapis.com/v1alpha2/projects/noahpi-19xx01/devices/86250A87CB146B18xx1EB7CF1EE75598 200
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED
ON_START_FINISHED
[5062:5091:ERROR:speech_recognition_activity.cc(605)] S3 connection has timed out: No data from S3
[5062:5091:ERROR:speech_recognition_activity.cc(605)]

[2018-01-16 21:19] Fleker commented on #166
Things like timers and music are not supported in the Assistant Service. But you can use [Actions on Google](https://developers.google.com/actions/) to add third-party integrations.

[2018-01-16 21:19] #166 closed

[2018-01-16 21:21] Fleker commented on #164
Are there any other issues? It seems like everything has been resolved.

[2018-01-17 08:07] zaper4life commented on #164
True that

[2018-01-17 18:57] #164 closed

[2018-01-18 00:09] dm1010111 commented on #67
I just got the same problem with Respeaker 2 mic and Raspberry Pi 3 board.  I tried solution here but did not work.  My error is:
 google-assistant-demo --device_model_id 4micberry

device_model_id: 4micberry
device_id: ACDCBE4E571C34433D72A4DB1AFC502C

ON_MUTED_CHANGED:
  {'is_muted': False}
ON_START_FINISHED
[1771:1803:ERROR:mic_failure_detector.cc(140)] [assistant] Channel 1 has failed. Powers

[2018-01-18 01:45] Fleker commented on #67
Are you able to hear any microphone output as per [the documentation](https://developers.google.com/assistant/sdk/guides/library/python/embed/audio)?

[code]

[2018-01-18 01:53] dm1010111 commented on #67
@Fleker Yes.  I can run the echo test arecord -f cd -Dhw:1 | aplay -Dhw:1 no problem.

[2018-01-18 02:11] dm1010111 commented on #67
I tried both arecord and splay.  But aplay does not play any thing.

[2018-01-18 18:07] Fleker commented on #67
So there may be a problem with your microphone or speaker. If you run `speaker-test -t wav` and don't hear anything from your speaker then there is a speaker issue, but I'm going to guess your microphone is not configured properly.

[2018-01-18 20:33] dm1010111 commented on #67
Yes. I found the rootcause in my setup.  I changed .asoundrc file to make the capture and playback card as 1. This change solved the problem.  Thank you very much.

[2018-01-18 22:38] #67 closed

[2018-01-23 07:14] Gowtham1989 opened #167 "Google assistant is not working on fedora OS linux."
Hi,
I'm integrating the google assistant on xxx board(armv7l) which is having fedora OS. I following the steps from this links.

https://developers.google.com/assistant/sdk/guides/service/python/embed/config-dev-project-and-account
I successfully created OAuth Client ID, enabled Google assistant API  and save credential json file on my device.

https://developers.google.com/assistant/sdk/guides/se

[2018-01-23 19:32] Fleker commented on #167
We do support Ubuntu, but it definitely doesn't seem like this is a Fedora issue. It appears that the tool is looking for the client secrets file that you appear to have saved at the beginning. The tool looks in the current directory for the client secrets file. You should be able to alternatively use the `--client-secrets` argument and point to the location of your client secrets.

`mv /path/to/c

[2018-01-24 05:03] Gowtham1989 commented on #167
Hi Fleker,
After running this command i'm getting the following error.
googlesamples-assistant-devicetool register --model 'my-model-identifier' --type LIGHT --trait action.devices.traits.OnOff --manufacturer 'Assistant SDK developer' --product-name 'TBD' --description 'Assistant SDK light device' --device 'my-device-identifier' --nickname 'My Assistant Light' --client-type 'LIBRARY' --client-secr

[2018-01-24 07:24] Fleker commented on #167
It looks like the parameter needs to go before you call `register`. It is first gotten here:
https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/googlesamples/assistant/grpc/devicetool.py#L105

`googlesamples-assistant-devicetool  --client-secrets /root/Google_Assistant/client_secret_1078659317873-tc65k10crmatc1ad6vrbds0nhba9mndu.apps.googleusercontent.com.json r

[2018-01-24 15:28] Mr-Pioupiou commented on #79
Hello, any new information regarding the language selection ?

[2018-01-24 22:48] JakeBMalis opened #168 "Get assistant response."
Can someone explain how I could get the assistant's response text on an external screen? Thanks.

[2018-01-24 23:00] Fleker commented on #79
https://stackoverflow.com/questions/48017507/how-do-i-change-the-language-locale-in-the-google-assistant-sdk

[2018-01-25 02:07] Fleker commented on #168
You can use the `pushtotalk` sample to get the [`supplemental_display_text`](https://developers.google.com/assistant/sdk/reference/rpc/google.assistant.embedded.v1alpha2#dialogstateout) from the `AssistResponse` and then do what you want with that value.

[2018-01-25 23:24] JakeBMalis commented on #168
With this code:

logging.info(DialogStateOut.supplemental_display_text)
        self.conversation_stream.stop_playback()
        return continue_conversation

I get this response:
WARNING:root:SoundDeviceStream read overflow (3200, 6400)
INFO:root:Transcript of user request: "what".
INFO:root:Playing assistant response.
INFO:root:Transcript of user request: "what time".
INFO:root:Playing assistant

[2018-01-26 00:12] Fleker commented on #168
You need to take a look at the [textinput](https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-sdk/googlesamples/assistant/grpc/textinput.py) sample.

[code]

[2018-01-26 13:13] olskar commented on #92
@bkbilly I get the following error when trying to use your code

`
LED on
Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/pi/new-project/hotword.py", line 84, in <module>
    main()
  File "/home/pi/new-project/hot

[2018-01-26 14:22] olskar opened #169 "How to autostart the assistant?"
I followed the guide to install this, however nowhere is mentioned how to autostart this on boot of the pi? How is this done?

[2018-01-26 20:15] Fleker commented on #169
There's nothing special about this compared to any other script you may want to start on the Pi. This [StackOverflow question](https://raspberrypi.stackexchange.com/questions/8734/execute-script-on-start-up) may help.

[2018-01-28 22:20] Enzoinventor commented on #150
hello, are there any news on the hope of intervening in a programmatic way for the change of language in hotword without using the app assistant?

[2018-01-29 23:07] av4625 commented on #145
When I ask the assistant to set the volume to maximum it just continually blinks and needs restarted

[2018-01-30 07:10] NobuHayashi916 opened #170 "pushtotalk.py - device-id from config file for device action"
(Please discard-close if you have fixed this already)

Hi all,

I've been trying to enable action.devices.commands.OnOff with pushtotalk.py with Python command line ($ python pushtotalk.py) on Ubuntu-on-MacbookAir.

It appears, if we use device_id from the saved device_config file, device_id is not properly passed to device_helpers.DeviceRequestHandler(device_id), because it is called *before* dev

[2018-01-30 22:01] Fleker commented on #170
But the script does work if you pass `--device-id` as a parameter when you call it?

It's not exactly a bug as we do expect this value to be passed when calling the Python code. But I do see what you mean, that the device id can be obtained from config file as well.

[2018-01-30 23:09] NobuHayashi916 commented on #170
Correct, the code works if --device-id is specified.

The SDK tutorial instructs us to include --device-id (https://developers.google.com/assistant/sdk/guides/service/python/extend/handle-device-commands), thus this issue isn't critical.
(I should have it called an improvement, not bugfix - sorry for a scary title)

[2018-01-30 23:45] NobuHayashi916 commented on #170
FWIW, forlked / modified / verified repo is here:
https://github.com/NobuHayashi916/assistant-sdk-python

[2018-02-01 17:46] sandblasted7 opened #171 "Hotword detection for the Google Assistant Service"
Hello,

I was wondering if there is any example code available for hotword detection for the google assistant service. Or can someone please point me to a direction where I can convert the hotword.py provided with the Library  to work with the Service package? I am working on an project where I am utilising the text response provided by the Service. But I definitely need to add a hotword detection

[2018-02-01 19:10] Fleker commented on #171
We don't have any sample code for hotword detection using the service. However, there are a few Python packages that can do it, but there is no guarantee of their quality.

Some community members have used the third-party [Snowboy](https://pypi.python.org/pypi/snowboy/1.2.0b1).

[2018-02-01 19:10] #171 closed

[2018-02-01 19:18] sandblasted7 commented on #171
Thank you for the quick response. I did see an example using Snowboy. I will look into it. Regards.

[2018-02-01 21:36] tomtomgo92 commented on #150
maybe that

https://stackoverflow.com/questions/48017507/how-do-i-change-the-language-locale-in-the-google-assistant-sdk

(the language with cloud speech are not really "good" )

[2018-02-03 13:03] janvda opened #172 "Supporting Dutch Language"
Hi,

Is there a way to make the assistant understand the "Dutch" language ?

Using the following command :

 --device-id  'FD...0FD4F8'  --device-model-id 'pi.....it'  --lang 'es-ES'

I could make the assistant understand Spanish, but when I tried it with the language options 'nl-BE' or 'nl-NL' (for "Dutch - Belgium" and "Dutch - Netherlands") it gives an error indicating that it is an unsupported

[2018-02-03 13:16] ameer1234567890 opened #173 "No feedback after setting volume"
When I say "OK Google, set volume to 80 percent" it does so, but does not give any feedback/indication that the volume was set. I am able to check the volume by asking "OK Google, what is your volume?".

[2018-02-03 16:31] bart-heremans opened #174 "volume in assistant verry low"
I installed a fresh raspbian image. And installed the assistant-sdk-python.
This in combination with the respeaker 2 mic pi hat (http://wiki.seeed.cc/Respeaker_2_Mics_Pi_HAT/)

Speaker test works fine.
Microphone test also ok.

Volume is ok when i do the speaker test, It is set to 100% with alsamixer.
But when starting the assitant demo the volume is verry low. I already set the volume to max with

[2018-02-03 16:54] bart-heremans commented on #174
After some strange reason the seed sound card is now card0

**** List of PLAYBACK Hardware Devices ****
card 0: seeed2micvoicec [seeed-2mic-voicecard], device 0: bcm2835-i2s-wm8960-hifi wm8960-hifi-0 []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 1: ALSA [bcm2835 ALSA], device 0: bcm2835 ALSA [bcm2835 ALSA]

after changing asoundrc to math the correct card number the volume is okay.
I do n

[2018-02-04 11:22] bedfelllow opened #175 "How can I change voice to British (en-GB)?"
How can the voice be changed from the default American (en-US) to British (en-GB)? I tried argument `--lang='en-GB'` but this resulted in `google-assistant-demo: error: unrecognized arguments: --lang=en-GB`

[2018-02-04 12:43] janvda commented on #175
The following worked for me

 --lang 'en-UK'

[2018-02-04 12:51] bedfelllow commented on #175
`google-assistant-demo: error: unrecognized arguments: --lang en-UK`

[2018-02-04 14:11] janvda commented on #175
It worked for me when using:

E.g. the full command I have used looks like:

Of course you have to specify your device-id and  device-model-id.

[2018-02-04 15:07] bedfelllow commented on #175
I have `google-assistant-demo --device_model_id="o...e"`
When I add `--lang='en-UK'` or `--lang 'en-UK'` I get `google-assistant-demo: error: unrecognized arguments: --lang en-GB`
Maybe it's a syntax error?

[2018-02-04 15:30] bedfelllow commented on #175
If I add `--device-id` to the string I then get `google-assistant-demo: error: unrecognized arguments: --device-id`

[2018-02-04 17:30] janvda commented on #175
I admit I have not used "google-assistant-demo", so it looks like the option --lang is not supported for this script.
But I can tell you that the option --lang works for googlesamples-assistant-pushtotalk.

[2018-02-04 18:38] bedfelllow commented on #175
Unfortunately, googlesamples-assistant-pushtotalk is not supported on the system I'm running.

[2018-02-04 20:35] pmona opened #177 "Installer fails - Step 4.2"
When I attempt to run the installer in section CONTINUE after SETTING UP AUDIO, step 4.2:
sudo  /home/pi/GassistPi/scripts/gassist-installer-pi3.sh

It errors out with the following:

Collecting pycryptodomex>=3.0 (from gpsoauth>=0.2.0->gmusicapi>=11.0.0->-r /home/pi/GassistPi/Requirements/GassistPi-pip-requirements.txt (line 6))
  Using cached pycryptodomex-3.4.11.tar.gz
    Complete output from

[2018-02-04 21:40] Fleker commented on #172
I believe that the supported list of languages lines up closely with the [Actions on Google](https://developers.google.com/actions/localization/languages-locales) list of locales. Dutch currently is not one of them.

There's no public timeline for when future languages are being released. But when it is, then using `nl` should work as expected.

[2018-02-04 21:42] Fleker commented on #173
This is not related to the SDK as much as a feature request for the Assistant in general. For most devices this is handled by a visual indicator. On a Google Home for example this query will present LEDs showing the current volume.

[2018-02-04 21:48] Fleker commented on #175
What system is `google-assistant-pushtotalk` not going to work for? It is designed to be much more flexible.

The `google-assistant-demo` is using [the library](https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-library/README.rst), which does not accept `lang` as a parameter. To change its locale, you will need to register the device and then modify it in the Googl

[2018-02-04 21:51] Fleker commented on #177
Are you using [GassistPi](https://github.com/shivasiddharth/GassistPi)? You may want to file your issue there.

[2018-02-04 21:59] bedfelllow commented on #175
I have google-assistant-demo installed on an Orange Pi Lite, using the instructions from here [https://www.cnx-software.com/2017/07/30/how-to-setup-an-orange-pi-zero-diy-smart-speaker-with-google-assistant-sdk/](url)

I have Google assistant installed on my phone but the Orange Pi does not show in Assistant -> Settings -> Devices

[2018-02-04 22:43] pmona commented on #177
Thank you -- too many tabs open.   I thought I had posted it in GassistPi.

[2018-02-04 22:43] #177 closed

[2018-02-05 05:19] ameer1234567890 commented on #173
OK. This is reasonable. But, does it provide any response back from the SDK, when the volume is set, which can be used to hookup some sort of feedback mechanism.

[2018-02-05 09:19] Fleker commented on #175
It looks like the blog post is relatively old, so it does not include instructions on how to [register the device](https://developers.google.com/assistant/sdk/guides/library/python/embed/register-device) and have it show up in your Assistant settings.

[2018-02-05 09:22] Fleker commented on #173
This is through the hotword sample?

[2018-02-05 17:33] ameer1234567890 commented on #173
Yes, the hotword sample

[2018-02-06 00:49] Fleker commented on #173
I'll mark this as a feature request

[2018-02-06 21:03] pixelflock opened #178 "using no parameters in device action"
Hello,

I am attempting to write some custom device actions using the google-assistant-sdk python library. For some custom traits the user provides parameters via query patterns and for others the query pattern contains no parameters. I am having issues when I am not using any parameters. in my action.json file I have the following for a trait that requires no parameters.

[code]

I am getting an

[2018-02-07 00:39] Fleker commented on #178
Right now custom device actions are not generally available. With regards to the bug itself, you should be able to modify `hotword.py` to not include params. We will fix this bug in the future.

[code]

[2018-02-07 16:15] moham96 commented on #155
I have a similar problem

can this be fixed using some configurations ?

[2018-02-07 16:33] sandblasted7 commented on #178
Thank you! That change in the if statement took care of the error. Regards.

[2018-02-07 20:02] LondonSi72 opened #179 "Alarms stopped working?"
Hi - I left a post on the aiy-projects-raspbian forum regarding this problem too:
https://github.com/google/aiyprojects-raspbian/issues/276

Alarms used to work with the google-aiy voicekit image but now if asked Google replies with an error.  The guys working on that code can't reproduce, but another user in the UK has reported the same issue.  Is this a known problem with the python sdk?

[2018-02-07 23:52] Fleker commented on #155
The asoundrc doesn't seem to be in the right format https://developers.google.com/assistant/sdk/guides/library/python/embed/audio

[2018-02-08 07:00] bedfelllow commented on #175
Following @Fleker advice, I have resolved the issue by installing a newer version of the SDK per the instruction [here](https://developers.google.com/assistant/sdk/guides/service/python/), which then allow me to register the device and change the setting on my phone.

[2018-02-08 07:00] #175 closed

[2018-02-08 10:18] harry0890 opened #180 "google-assistant-demo doesn't work"
Q: I run google-assistant-demo fail because of  "ctypes _dlopen can not open this library "/venv/lib/python3.4/site-packages/google/assistant/library/**libassistant_embedder.so**".

Note:
- This "libassistant_embedder.so" comes from "pip install -v google-assistant-library==1.0.1"
- My platform is 32bit ARMv7 linux, not Raspberry Pi2 or 3.

How can I solve this issue?

[code]

[2018-02-08 20:10] shivasiddharth commented on #155
@Fleker ,  Even with a properly configured .asoundrc and asound.conf, there seems to be this Portaudio problem and its only with the gRPC API. This occurs if you give a delayed speech input or speech input quickly after triggering. Please find below as to what happens and when.

1. Trigger the assistant and immediately provide a speech input.
Portaudio Error.

2. Trigger the assistant and wait for

[2018-02-09 01:52] Fleker commented on #180
Did you pip install ctypes?

[2018-02-09 06:07] harry0890 commented on #180
Hi Fleker,
Yes, I already have installed ctypes. I can see dynamic library by cpython3.4 in this location.
`/usr/lib/python3.4/lib-dynload/_ctypes.cpython-34.so`
and the ctypes path:
# /usr/lib/python3.4/ctypes/
# ls
__init__.py  _endian.py   macholib     test         util.py      wintypes.py

- Origninal, the source code try to dlopen libassistant_embedder.so
[code]
- But, if I change another sha

[2018-02-09 09:20] Fleker commented on #180
Can you find the file `/venv/lib/python3.4/site-packages/google/assistant/library/libassistant_embedder.so` in a file explorer or is it not there either?

[2018-02-09 09:56] harry0890 commented on #180
Yeah, I can find the file `/venv/lib/python3.4/site-packages/google/assistant/library/libassistant_embedder.so`

[code]
and the file information:
`libassistant_embedder.so: ELF 32-bit LSB shared object, ARM, EABI5 version 1 (SYSV), dynamically linked, stripped`

[2018-02-09 11:35] jimhoggey commented on #179
I have the same problem, "ignoring  kunimplemented action error"
I am running this on the Raspberry pi 3 running rasbian. Timers work for me but alarms do not.

  Iam running the google assistant demo??

anyone know how to fix

Thanks